[2016-10-28 15:33] ShikOfTheRa commented on #327
Actually I thought they were the same. My mistake.
Innova != Impulserc Helix

But they might be functionally the same.
Would be a nice addition.

[2016-10-30 15:32] jflyper opened #328 "Enabling AIRBOTMICRO23 produces blank screen"
The issue was brought up in the fpvlab
[http://fpvlab.com/forums/showthread.php?34250-MWOSD-for-MULTIWII-NAZE32-BASEFLIGHT-HARIKIRI/page317](http://fpvlab.com/forums/showthread.php?34250-MWOSD-for-MULTIWII-NAZE32-BASEFLIGHT-HARIKIRI/page317)

[2016-10-30 20:36] sniperxnl commented on #327
Can i do a firmware update on the novva form Furious with passtrough from fc?

[2016-10-31 05:07] jflyper commented on #327
I don't have Innova, but in theory, yes.

However, updating Innova with current MWOSD will loose the VTX control capability.
This issue is for discussion toward the support of this capability.

[2016-10-31 10:19] ShikOfTheRa commented on #292
@coolest42u did you have any luck with mwosd on mavlink 0.9 ?

[2016-10-31 19:43] ShikOfTheRa commented on #328
I have a board that looks real similar. Labelled microsod v2. This runs a max chip...
Anyway, tested on my new ab7456 board and I recommend leaving MAX7456HWRESET enabled when MAX_SOFTRESET enabled.

Reason: If reset isn't connected, it makes no difference.. If it is connected then we get hardware reset and correct initialisation of reset line too.

I can confirm that it works on my board with sof

[2016-11-02 17:14] HaseebNain commented on #326
I did try removing the ability to increase the step and saw the cursor still jump randomly.

I have tried the different constraints and see no significant impact on the cursor behavior.

I am thinking about hooking an arduino up to the F4 to see how the data sent to the Atmel looks, maybe there is some issue with how the OSD firmware reads the F4 information?

[2016-11-02 17:28] jflyper commented on #326
I don't think so.

What FC and MWOSD is doing in terms of stick movement is that the MWOSD is periodically sending a request for RC channel data and FC responding with the RC channel data. If something is wrong with the MWOSD's processing, it would happen anytime as you move the stick around.

As you mentioned that the FC freeze when disconnected from the configurator, I would suspect something wr

[2016-11-02 17:59] HaseebNain commented on #326
Ok that's good to know!

I wonder why the stick movement seems so sporadic then. I have tried putting blocks into the firmware after an input is sampled and noticed that it does not jump as often but still has inconsistent jumps.

I have also placed "if" statements around the cursor updating to only take information when the cursor has been updated and noticed an increase in consistency.

for exam

[2016-11-02 18:51] HaseebNain commented on #326
In the case of Betaflight I don't see any issue with the serialization of RC data

    case MSP_RC:
        headSerialReply(2 * rxRuntimeConfig.channelCount);
        for (i = 0; i < rxRuntimeConfig.channelCount; i++)
            serialize16(rcData[i]);
        break;

[2016-11-03 13:18] ShikOfTheRa commented on #326
Are you using PPM? I have seen a number of badly set up systems as exceed PPM frame.

Or perhaps maybe there is some sort of timing issue... e.g rcData[i] changing due to interrupt mid serialization. as its worse with F4 it seems that is most likely to be related to BF side.

Actually, I have just added debug data display screen which includes the RC values. Might be worth running that for a while

[2016-11-03 19:43] HaseebNain commented on #326
I am using SERIAL_RX for radio communication.

I also think it is an issue with rcData[] and how it gets the information. I've looked into betaflight and did not see anything to strange. I do not think adding blocking calls into betaflight will be too good of an idea, don't want to lock up radio communication and cause a crash haha.

what do you mean by atomic blocking? The way the data is current

[2016-11-04 10:00] ShikOfTheRa commented on #326
I'd be inclined to put debug screen on and see what data shows up on rcdata. I have many times seen ppm issue - that for sure is real and common.

Not to confuse the atomic block with this issue - and just as an FYI.. Below is a simple descriptions/demonstrations of atomic issues on 32 bit processes... I have no idea if its a real issue on MWOSD. I saw some possible evidence last year which only s

[2016-11-08 16:51] btreecat opened #329 "Innova OSD GPL Violation"
It seems that with Furious FPV using some sort of derivative of MWOSD. They do not however provide their changes as required by the GPL, which mwosd/scarab-osd is licensed under.

I think we should start contacting them regarding the release of their modified source. This could make integrating vtx changing easier for other hardware as well.

[2016-11-08 23:06] RBeaubien opened #330 "KISS compile does not update mAh"
When using current sensor connected to OSD, mAh used does not update when compiled for KISS FC.  This is in R1.6.2.  The current sensor is correctly reporting.  It works correctly when compiled for BetaFlight/CleanFlight.

[2016-11-09 09:28] ShikOfTheRa commented on #329
They are  preparing code for release.

Note broadly equivalent source is available here:
https://github.com/PickwickGroup/scarab-osd/tree/impulserc_vtx

[2016-11-09 10:56] ShikOfTheRa commented on #330
For KISS:
If “Use FC” is enabled, it expects to get Amperage from the KISS ESC

I just tested on 1.6.5 with Display amps enabled, Display mah enabled, use virtual disabled, use FC disabled and it works Ok for me. Current sensor connected direct to OSD. The code looks to have not changed between those versions either.

[2016-11-09 11:50] btreecat commented on #329
Yes they emailed me back finally letting me know they are interested in
complying with the licens

On Nov 9, 2016 04:28, "ShikOfTheRa" <notifications@github.com> wrote:

[2016-11-09 17:26] RBeaubien commented on #330
"Use FC" is NOT enabled.  I want the current sensor connected to the OSD to be used.

[2016-11-09 17:41] HaseebNain opened #331 "Use FC for Voltage and Current readings, default not working?"
I am trying to understand the communication between the FC and the OSD.

In the config.h file I defined "USE_FC_VOLTS_CONFIG" however the OSD does not report the value of voltage and current.

Voltage only seems to be enabled through the OSD itself, when it is turned on using the stick commands.

Both work fine when enabled through the OSD_GUI.

[2016-11-10 17:31] ShikOfTheRa commented on #331
Not used myself, but I think AUTOCELL needs to be enabled. Also Use FC voltage...
Perhaps documentation / implementation needs a little tweak!

These two with "Use FC voltage enabled seem to be whats required
#define AUTOCELL                  // Uncomment this to use varying cell count batteries. Overrides GUI/OSD voltage warning settings. Uses CELL_VOLTS_* below unless AUTOCELL_ALARM defined
#def

[2016-11-10 18:16] HaseebNain commented on #326
It seems that the information is not the issue.

I have attempted different speeds, assuming that the F4 is simply too fast for the ATMEGA but saw no improvement over the different preset MSP speeds in config.h

I am wondering if it is worth reworking the MSP in the OSD firmware, perhaps constantly taking in MSP_RC information as it does now, but once the config menu is enabled, only taking MSP_RC

[2016-11-10 22:38] HaseebNain commented on #331
It doesn't seem to be enabling the FC by default.

I enable it through the OSD and then when it works, wipe the EEPROM and reflash it with those configs enabled.

[2016-11-10 22:42] HaseebNain commented on #331
@ShikOfTheRa

So I went in and used the code for the GUI and was able to enable these as defaults by changing values in the default array (EEPROM_DEFAULT) in GlobalVariables.h

I can look into creating a quick function and add some more parameters to config.h so that these values can be set manually.

Just adding a Settings[S_MWAMPERAGE] = 1 and a Settings[S_MAINVOLTAGE_VBAT] = 1,
into MW_OSD.ino

[2016-11-10 23:03] Hazakins commented on #326
over on the betaflight git they recommended
"Have you tried changing the serial task priority and period?

Try in fc_tasks.c try setting staticPriority for TASK_SERIAL to TASK_PRIORITY_MEDIUM and desiredPeriod = 1000000 / 200. I'm not proposing that as the final solution, but changing it will show if it is a priority issue."

[2016-11-10 23:04] Hazakins commented on #326
Hope you guys figure this out. Got a Revo running scarab-osd and its pretty wonky

[2016-11-11 06:31] jflyper commented on #326
Rcdata from fc is not just flowing. They are passed to osd as they are requested by the osd. Request-response based protocol running there.

So, the choppiness has nothing to do with processor's speed on both sides.

[2016-11-11 11:38] jflyper commented on #326
I will start looking into this problem after Sunday evening (as posted in the BF thread).

[2016-11-14 08:19] RBeaubien commented on #330
I think I found the issue.  I did not have the 5v Reference turned on.

[2016-11-14 08:53] RBeaubien opened #332 "Unable to select LOADFONT_DEFAULT option"
I get a number of errors when I uncomment the LOADFONT_DEFAULT option beginning with this error:

<path>\MW_OSD.ino: In function 'void setup()':
MW_OSD:159: error: 'initRSSIint' was not declared in this scope
   initRSSIint();

What am I doing wrong?  I am using Arduino 1.6.11

Thanx,

[2016-11-14 10:36] jflyper commented on #326
It turned out that F4 UART is broken in the way that it intermittently transmit batch of garbage on to the MSP response stream. See this [comment](https://github.com/betaflight/betaflight/issues/1386#issuecomment-260205776) in betaflight/betaflight#1386 for details.

I think we can close this one on this side.

[2016-11-14 15:19] DangerD256 opened #333 "How to exit debug screen?"
![0-02-05-13af3a6a740bbbad441f21c8211c72f6499cac7f00d8d903634b1f614c578731_full](https://cloud.githubusercontent.com/assets/17032489/20270105/70d43956-aa8e-11e6-9ecd-8725fd6a8125.jpg)
How can i exit from this screen?

[2016-11-14 17:26] HaseebNain commented on #326
Yea I saw that, it seems everything on the OSD side is working correctly and this stems to be an issue with the F4 itself.

Will close this for now.

[2016-11-15 02:38] csurf opened #334 "can't compile on arduino 1.6.12"
seems there's an issue with latest arduino (1.6.12 in my case) whereby the function definition prototypes aren't correctly extracted from the source code. To reprooduce, install latest arduino & try to compile.

[2016-11-15 08:07] jflyper commented on #333
Looks like you have uploaded the current development master.

You can't exit the debug screen. You have to disable debug options at the top of the Defs.h file and upload the sketch again.

@ShikOfTheRa Can you disable the relevant debug options and put the master into production state?

[2016-11-16 15:07] jflyper commented on #334
@csurf Can't reproduce it locally with MacOSX 10.11.6, Arduino 1.6.12, with current master (8b1a291).
<img width="606" alt="screen shot 2016-11-16 23 58 22" src="https://cloud.githubusercontent.com/assets/14850998/20352156/a9e47a86-ac59-11e6-8e74-0158052de083.png">

[2016-11-16 16:38] jflyper opened #335 "Incompatibility with Arduino 1.6.10 and later"
Arduino 1.6.10 and later decided to go strict on forward declarations, or effectively doing the same thing.

Related: #334 #332

[2016-11-17 01:06] ShikOfTheRa commented on #333
OK done

[2016-11-17 01:06] #333 closed

[2016-11-17 01:13] ShikOfTheRa commented on #331
yes could force Settings[S_MAINVOLTAGE_VBAT] = 1 if selecting FC_VOLTAGE_CONFIG

AMPERAGE - no

[2016-11-17 01:14] ShikOfTheRa commented on #330
OK great

[2016-11-17 01:14] #330 closed

[2016-11-17 01:17] ShikOfTheRa commented on #335
great. I see in reference it compiles OK for you n mac though? I am travelling so not enough broadband allowance to download and try myself. Will be a couple of weeks before can look at

[2016-11-17 01:17] ShikOfTheRa commented on #326
Good troubleshooting....

[2016-11-17 03:59] jflyper commented on #335
@ShikOfTheRa
I think I was fooled by multiple arduino instances when I did that testing for #334.

The issue is present and consistent among 1.6.10 and later in my environment.

[2016-11-17 04:06] jflyper commented on #321
Any progress?

There are several reports on how peculiar the Piggy is, compared to regular Minims.

Hardware problem
A user has reported that a capacitor called C8 should be removed to make his Piggy programmable.

Boot loader problem
Some claim that a special loader that comes with the above mentioned kisspigg.rar must be used to load the manufacturer supplied MWOSD_ino.hex, while the user mentio

[2016-11-18 08:13] jflyper commented on #335
So, does anybody know what has happened in 1.6.10?

Looks like Arduino preprocessing (merge all ino, insert some includes and collect declarations) is corrupt or has changed in some way.

[2016-11-18 20:11] ShikOfTheRa commented on #335
Weird.

I installed 1.6.12 and clicked the remove old version .option Rebooted and can compile OK with no errors. Just also tried a manual delete and reinstall no issues.

Cant find any other versions of arduino on my pc and only 1 version of avrgcc which is  4.9.2

[2016-11-21 02:19] flounderscore commented on #321
I could get MWOSD to work on the PiggyOSD. First, uploading the image seemed to take longer than usual. Then I also had to use the RX/TX pins on the side meant for the FTDI cable to connect to the FC.

I haven't head time to check whether those pins are connected to the dedicated second set of rx/tx pads.

[2016-11-21 09:48] jflyper commented on #321
@flounderscore I thought those two rows of signals are both connected to the same rx/tx. If not, the MCU on the Piggy might be M328PB. Can you read the marking on the M328?

[2016-11-21 10:15] ShikOfTheRa commented on #332
Confirmed this issue with 1.6.12

I think the issue is with line length. I have amended and can confirm it compiles for me with 1.6.12
I also uploaded three different font types OK to test via config.h.

Please can you try latest from repository to confirm?

Thanks

[2016-11-21 10:24] RBeaubien commented on #332
That fixed it.  Thanx.

[2016-11-21 10:24] #332 closed

[2016-11-21 10:42] ShikOfTheRa commented on #332
Thanks for testing!

[2016-11-21 10:44] ShikOfTheRa commented on #335
Can you confirm if the latest compiles?

[2016-11-21 13:32] awolf78 commented on #315
Did you have any luck with the AltSoftSerialLibrary?
I'm about to try this myself - if I can find someone soldering pins 8+9 :(

[2016-11-21 23:45] flounderscore commented on #321
I found my problem, "RX" on the piggy-specific pads is connected what's labeled TX on the micro minim osd (the pin next to DTR).

It seems (not tested, just from measuring connectivity on the pcb) one has to connect FC's RX to RX on the piggyosd.

The Atmel is a M328P.

[2016-11-22 05:26] jflyper commented on #315
@awolf78 I'm almost done with the Betaflight version.

I will be using an arduino based prototype for testing ;)

[2016-11-22 05:27] jflyper commented on #321
@flounderscore Yikes! I forgot to tell that. There was another one who found it out the hard way, just like you did.

[2016-11-23 17:35] jflyper commented on #335
It compiles! What did you do?

[2016-11-24 08:00] sppnk commented on #335
May be it has something to do with [this weird arduino ide](https://github.com/arduino/Arduino/issues/2989) issue?

[2016-11-24 10:40] ShikOfTheRa commented on #335
I think there must have been some IDE changes with max characters on a single line so I simply split the fontdata line into 2.

It took some finding......

[2016-11-24 16:07] jflyper commented on #334
@csurf We believe the problem is fixed. Can you try the latest dev master?

[2016-11-24 16:08] jflyper commented on #335
@ShikOfTheRa Thanks for your findings! Closing.

[2016-11-24 16:08] #335 closed

[2016-11-25 08:40] ShikOfTheRa commented on #328
Think I have the answer now...

Any boards prior to 2.35 uses a MAX7456 chip.
If define AIRBOTMICRO23 and board is less than 2.35 you will get a blank screen as HW reset line isn't initialized. As above recommend to leave HW reset initialization in place as addition to soft reset. Future boards likely to have HW reset line in place too.

[2016-11-25 08:51] ShikOfTheRa commented on #329
Closing this and updates will be in #327

[2016-11-25 08:51] #329 closed

[2016-11-25 08:52] #328 closed

[2016-11-25 09:06] #324 closed

[2016-11-25 10:43] anton-matosov opened #337 "Any plans to support MAVLink version 2?"
Pixhawk and APM are running MAVLink v3 now, but MWOSD supports only legazy v1 (at least as per config.h).
Currently when I connect Pixracer with px4 stack on it OSD breaks - it shows all the font characters instead of the data.

[2016-11-25 13:45] jflyper commented on #273
Yeap. It will be released as a part of the Betaflight v3.1.

The project has been extremely successful, and has gone way beyond what I was expecting to do; the Betaflight CMS (Configuration Menu System) is now display device independent, and runs on integrated OSDs, external OSDs (like MWOSD of course), I2C OLED displays. These display devices now all have displayPort abstraction which is (x,y) ad

[2016-11-25 14:46] ShikOfTheRa commented on #273
Excellent. I just wish we didn't have to have all the different flavours of xxxxFLIGHT out there...

So with MWOSD, betaflight v3.x is defined and includes canvas mode - am I right in thinking it autodetects - so can run 3.1 with canvas mode or 3.0 without just fine?

[2016-11-26 12:58] jflyper commented on #273
Maintenance of menu contents that manipulates FC firmware parameters now became the responsibility of FC firmware devs and maintainers, at least for Betaflight for now. We can kindly reroute "Support for SecretFlight Ultra-Rate adjustment" kind of request back to FC devs and maintainers now ;)

Even with the CANVAS enabled, MWOSD runs just fine with 3.0. It autodects ... yeah, you can say that, it

[2016-11-27 18:22] ShikOfTheRa commented on #337
Is there a v3 ?? I just looked at mavlink on github and I can only see reference to 1 and 2 libraries. But I do not know apm/pixhak stuff very well
I guess will have to but I'll have to learn v2 first.
Due to memory, MWOSD uses its own mavlink protocol parser. I'll have to create one to suit this. Unfortunately not going to be quick for me to do this

[2016-11-28 18:14] anton-matosov commented on #337
http://mavlink.org/messages/common

So MAVLink protocol already has version 3, but I have checked current master of px4 and they still use v2.0

[2016-11-30 13:36] ShikOfTheRa commented on #337
yeah I saw that before, but I still can't find a v3... I don't think it exists.
In libraries I can only see a v2 and that looks pretty recent.

In docs its says you should be able to send at v1 for compatibility

[2016-12-02 08:45] Rclf commented on #327
I was configuring the innova in mwosd and I accidentally pressed default . I can still see the osd in mwosd gui but the video is gone, it disabled the vtx part somehow

[2016-12-02 17:38] HaseebNain commented on #326
I'm reopening the issue as I think that MSP needs to be looked at on this side as well.

I have the OSD stop responding all together, stating "NO DATA" when in the menu. It was solved through a complete reflash and has not had an issue since then 2:34pm MST (12/1/2016).

I am going to look into the MSP handling, perhaps some of the corrupt information from the F4 is causing a system failure?

Or s

[2016-12-03 00:15] 2black0 commented on #337
have same problem, while osd connected with apm (tx rx) it show all characters and random reboot, after unplug tx rx, it show but no data (definitely yes cause no data input for OSD)

hope this can fix, :)

[2016-12-09 09:16] nhadrian opened #338 "1.6.5.0 - FULLAHI compile error"
Hi,

I'd test the latest 1.6.5.0 but I got a compile error when FULLAHI is enabled.

Regards Adrian

![image](https://cloud.githubusercontent.com/assets/5570527/21043699/7f105f22-bdf8-11e6-9d21-5acdc0b971ee.png)

[2016-12-09 09:21] nhadrian opened #339 "Add settings for AHI sensitivity"
Hi,

I'd like to ask setting for roll and pitch AHI sensitivity in config.h since different cameras and optics gives different POV.

Thanks in advance.

Regards Adrian

[2016-12-09 14:06] ShikOfTheRa commented on #338
oh yep - missing text - should be  #elif defined FULLAHI

Updated repo - prob easier just to add word in to yours

[2016-12-09 14:25] ShikOfTheRa commented on #339
OK - added this in config.h.

I gave it a quick test and it looked OK on the bench.
These are now in config.h:

100=normal so consider 100%
75 would reduce pirch/roll by three quarters

//#define AHIPITCHSCALE 100          // Specify scaling sensitvity for Pitch. Higher number = pitches more on OSD
//#define AHIROLLSCALE 100           // Specify scaling sensitvity for Roll. Higher number = rolls m

[2016-12-12 16:31] jflyper commented on #327
@Rclf Did you try specifying NTSC/PAL in GUI?

[2016-12-12 16:31] jflyper commented on #327
So, FuriousFPV is coming out with V2 of Innova. Any news on source code disclosure?

[2016-12-12 16:33] Rclf commented on #327
Yes of course, this is not it.  My guess is that somehow it messed the firmware.

[2016-12-12 16:38] jflyper commented on #327
If you've decided to stash it, can you do some investigation mentioned [above](https://github.com/ShikOfTheRa/scarab-osd/issues/327#issuecomment-256545317) ?

[2016-12-12 17:23] ShikOfTheRa commented on #327
@rclf - suggest to ask your supplier to provide the source code - we can help you out then.

[2016-12-12 17:25] ShikOfTheRa commented on #339
@nhadrian lt me know how testing goes. Cheers

[2016-12-12 17:30] proggod commented on #327
Has anyone attempted to contact them and request it?

[2016-12-12 17:35] ShikOfTheRa commented on #327
Yes - I have and they said they would. I haven't received it yet though

[2016-12-12 17:53] proggod commented on #327
How long has it been?

[2016-12-12 18:46] ShikOfTheRa commented on #327
@proggod 2 months maybe. I have just emailed again.

[2016-12-12 19:22] Rclf commented on #327
I am waiting for the firmware as well.  Should have it in a couple of days.

On Dec 12, 2016 9:06 PM, "proggod" <notifications@github.com> wrote:

[2016-12-13 08:13] ShikOfTheRa commented on #327
Had a mail from furious this morning - he is chasing the dev

[2016-12-13 19:34] proggod commented on #327
Great, I asked someone to light a fire under them to get it to you :)

[2016-12-14 21:03] 2black0 commented on #337
I check on my apm 2.6 (with firmware arduplane v3.4.0) it use mavlink v3

[2016-12-14 22:41] 2black0 opened #340 "A7105 chip RSSI Support"
we know, there are many receiver based on A7105 Chip like Flysky FS-i6 / FS-i6B / or the older like TGY 9X, the chip have RSSI pin out (based on datasheet) but unfortunatelly the RX dont have feature for RSSI Pin out,

some people do hack directly get data RSSI from Pin 1 of A7105 and read it use uC (atmel / arduino) and generate RSSI pwm / analog data

sorry to request this, can MWOSD supported t

[2016-12-16 17:29] maahinberi opened #342 "Max Current and Min Voltage"
Would it be possible to display the Max current and Min voltage alongside the instantaneous current and voltage?

[2016-12-16 17:34] dustin commented on #342
It's certainly possible, but I don't know that that'd be useful without
some kind of filtering (e.g., the lowest the voltage has been for more than
five seconds, etc...).

On Fri, Dec 16, 2016 at 9:29 AM maahinberi <notifications@github.com> wrote:

[2016-12-16 17:42] maahinberi commented on #342
Ok, I just saw in the Release notes of 1.6 that the Max Amps is shown in flight summary. Min Volts could also be shown

[2016-12-18 18:23] nhadrian commented on #339
Hi, itt looks like scale is working.
But I found another issue, after raching an angle of around 40...45 deg, AH flips to the opposite direction (like copter is up-side down) even if AH limits are set to 600-700 range.

[2016-12-21 12:40] ShikOfTheRa commented on #342
Have added to the wish list / roadmap. I don't have any immediate plans to add this in though

[2016-12-21 12:43] ShikOfTheRa commented on #340
Had a quick look at this. A lot of work and quite a hardware hack / very fine soldering from looks of it.
Sorry but can't see this being supported.

[2016-12-21 12:59] ShikOfTheRa commented on #339
OK - will have a look.

The scaling is purely for scaling on the display. Real values should not have changed.

[2016-12-21 13:00] #338 closed

[2016-12-21 13:02] ShikOfTheRa commented on #337
Hi - I have found a bug in the mavlink code - this would cause screen full of garbage in some mode scenarios.

Welcome to try the latest and feedback...!

https://github.com/ShikOfTheRa/scarab-osd/archive/master.zip

[2016-12-21 13:03] #334 closed

[2016-12-21 13:09] ShikOfTheRa commented on #331
OK - am told of scenario where can't implement - they want to use config from FC, but use the analog.

It means this will have to be manually set. can't implement further.

[2016-12-21 13:09] #331 closed

[2016-12-22 11:12] brauliolorenzo opened #343 "Add Lap counter"
Hi, do you think to add a lap counter into OSD? It will be awesome if you want, with IR LED.

Thanks

[2016-12-22 23:01] TDIPWR commented on #327
Any word on the firmware?

[2016-12-22 23:16] Rclf commented on #327
No not yet,  I emailed again yesterday  still no answer.

[2016-12-23 13:34] ShikOfTheRa commented on #316
OK this is done. PC and linux GUI updated. I don't have a mac so not going to be one for a while.

[2016-12-23 13:34] #316 closed

[2016-12-25 19:04] jflyper commented on #340
I think the pin #1 RSSI has nothing to do with the above mentioned "17.1 RSSI Measurement" things.

Isn't it just an analog voltage? If so, it can be connected to RSSI input of MinimOSD. Probably need a small capacitor to smooth out the small changes.

[2016-12-25 19:20] jflyper commented on #343
Please elaborate what the lap counter is. Is there any commercial product?

[2016-12-26 17:14] ShikOfTheRa commented on #340
ah yeah - looked again. Think your right.
17.1 is more for the microp operating the ic.

[2016-12-29 17:08] patrickpoirier51 opened #345 "Horizon Bar is showing LON LON LON &~ LON LON LON"
Running CleanFlight latest release on a F3 Based FC.
Just uploaded version MWOSD R1.6 with Standard Config.h on a Mini OSD.

Problem:
Looking and the Horizon , it is not showing bars and dots but:
LON LON LON &~ LON LON LON
And this is sequentially displaying (depending on the angle):
LON - LAT - MAH -KMH - KNTH -MS -THR -VEL -ALT

Never used this software before, might have missed something ? Ple

[2016-12-29 17:25] advancetom commented on #345
U must use a 5Volt Programmer!  got the same Problem

[2016-12-29 18:21] patrickpoirier51 commented on #345
Thanks for the tip , I tried another Programmer and its OK now :-)

[2016-12-29 18:27] patrickpoirier51 commented on #345
Might be interesting to add this on the install guide ?
Have an FTDI breakout board (which usually connects to a USB port)  with **sufficient power (5 Volts) and** the proper headers and to connect to your OSD hardware.

[2016-12-30 06:33] jflyper commented on #345
The requirement for the good 5V source when flashing (and probably writing EEPROM) is known for a long time, but yes, it's not mentioned anywhere in the DOCUMENTATION.

[2016-12-30 10:24] dan13373 opened #346 "MWOSD GUI Mac OS X 10.11"
Hi Shik,

I have tested the micro minimOSD with an FTDI to USB converter on my Mac with the correct drivers (dev/usb.serial is the port). The Arduino loads the MWOSD.ino firmware on the minimOSD successful without an error.

I then restarted my Mac and then started the MWOSD GUI by disabling the Gatekeeper in order to make it start. I set the BAUD Rate to 57600 (as the Arduino IDE was using) and t

[2016-12-30 13:33] jflyper commented on #346
Default speed is 115200. Try it.

Arduino IDE 's speed is for boot loader. MWOSD as a standalone software has it's own speed, which defaults to 115200 unless you tweak it in Config.h.

[2016-12-30 13:39] dan13373 commented on #346
Not working :( but thx

[2016-12-30 16:22] ShikOfTheRa commented on #346
@dan13373 I'm not clear from comments- did you change GUI baud to match the OSD? Its not obvious - have to click on com settings button to show baud rate option.

[2016-12-30 16:26] dan13373 commented on #346
Yes I have tried that.
How long to wait until the GUI should respond?

[2016-12-30 16:27] dan13373 commented on #346
Edit:
I changed to match OSD and edited the config

[2016-12-30 16:29] ShikOfTheRa commented on #346
Less than 10 secs. enough time for any reboot and startup delays in the code..

just a thought I get this sometimes with OSDDOGE / BROSD style boards when teh FC is connected and I forget to disconnect. I done it today... several times!

[2016-12-30 16:30] dan13373 commented on #346
It is the Micro MinimOSD.Just connected 5V, GND TX and RX.
I will flash it again.

[2016-12-30 16:35] ShikOfTheRa commented on #346
Weird. Suggest start with config.h baud at 115k and gui at 115k to start. Thats default. Once all good maybe try them both at another baud

[2016-12-30 16:36] dan13373 commented on #346
Will Don and report

[2016-12-30 20:16] dan13373 commented on #346
Troubleshooting Steps:
1) Cleared EEPROM
2) In config changed BAUD Rate to 57k and 115k (before changing, started at 1)
3) Restarted Mac and unplugged USB Adapter
4) Opened GUI and changed comm settings

No Luck. Still says "Waiting". But the Upload in Arduino works all time. Is there something I miss?

[2016-12-30 20:18] ShikOfTheRa commented on #346
send email to gary@flypix.co.uk for next step...

[2016-12-30 21:29] Nightsd01 opened #348 "Time Speeds Up"
When I turn on my quad, after about 30-60 seconds, my MW OSD (1.6.5) has a strange issue. Suddenly, the timer speeds up. It will act as if it's constantly losing and regaining connection to my flight controller: it will show 0 satellites and then immediately show the real number (14), cycling between the two. It also shows 'No Data' but then it keeps updating with new data...

I suspected a hardwa

[2016-12-31 06:58] jflyper commented on #346
That's weird...

Can you download the fresh scarab_osd dev package and start from download the sketch?

[2016-12-31 07:02] jflyper commented on #348
So this is the APM problem... What is "time speed up"?

[2016-12-31 23:41] HughAV opened #349 "Cannot open GUI - Error missing "lib" folder"
I am trying to edit the osd on my diatone sp3 vtx. runs mwosd. cannot get gui to open. message says "lib" folder missing. Is this not a part of the download?

[2017-01-01 02:57] ShikOfTheRa commented on #348
@Nightsd01 are you using 1.6.5 from the releases tab ( https://github.com/ShikOfTheRa/scarab-osd/releases ) or is it the very latest from the main repository in last few days.

I ask because there has been a bugfix since 1.6.5 release and that could cause symptoms described

[2017-01-01 12:50] jflyper commented on #349
Can you elaborate? Windows 7, 10, other? MacOSX? What's the MWOSD_GUI version? Screen shot of the message?

[2017-01-01 13:48] HughAV commented on #349
thank you for replying so fast! Windows 10, most recent download of MWOSD,
Github messenger would not let me post the snip. here it is:

[image: Inline image 1]

On Sun, Jan 1, 2017 at 7:50 AM, jflyper <notifications@github.com> wrote:

[2017-01-01 15:37] RCnator opened #350 "Displayed flight modes"
I use scarab-osd on my naze32 with iNav where I have 1 acro, 2 horizon, 3 baro (+2) , 4 heading (+3), 5 pos hold (+4), 6 rth and 7 waypoint. But on my osd it can only display ACRO/HORIZON/RTH/HOLD. Any plans on making it possible to display more types of flight modes? I am new to Github so I was unsure if I should leave this feedback here or elsewhere.

[2017-01-01 15:41] sniperxnl opened #351 "Error after 15 seconds"
I plug my fc into my computer, plug in my battery, run the gui, select my com port with the correct baud rate, and the osd connects, yay. BUT, after aproximately 15 seconds, I get an error message in the cmd tab reading this invalid checksum for command 119: 123 expected, got 3 119 139 {254 3 254 3 254 3 254 3 254 3 45 32 32 32 36 77 60 11 220 7 254 3 254 3 254 3 254 3 254 3 45 32 32 32 36 77 60 1

[2017-01-01 17:01] ShikOfTheRa commented on #350
In last few days I added:
AIRMODE
Waypoint

I havent tested but would love to know if the waypoint works. It should be like this, but I don't know if iNav is compatible with multiwii format yet. You are welcome to try!!

https://youtu.be/FCIyhbT1kK0?t=8

Note
For option 3 will show horizon ICON - but you can enable the sensors to be displayed too (vertical  acc and mag igons)

[2017-01-01 17:06] ShikOfTheRa commented on #351
what osd hardware? Anything else connected at same time? That is usual cause

[2017-01-01 17:10] ShikOfTheRa commented on #349
have you tried 32 bit and 64 bit versions? Just as fyi, the 32/64 bit doesn't refer to windows you are using. Its anctually the jave component. I tried 32 bit and its working for me.

[2017-01-01 20:24] sniperxnl commented on #351
i use a piggyosd from furiousfpv

[2017-01-01 20:43] ShikOfTheRa commented on #351
WHen connecting GUI, are you disconnecting it from the FC? its mandatory...

[2017-01-02 03:21] jflyper commented on #339
I think the AHI flipping is the normal behavior.

Ref: AH behavior on extreme pitch #291

When pitch increases, roll angle will gradually loose it's significance. Think of the extreme case when a vehicle is up right; there's no left or right. And this happens to attitude values sent by FC; there is no way the OSD code can compensate the effect (even by scaling).

You can reproduce the behavior wit

[2017-01-02 04:08] RBeaubien commented on #313
I have a Raceflight board on its way and I will do some thorough testing for you.

[2017-01-02 06:09] jflyper commented on #313
@RBeaubien Looking forward to hearing the result.

@Channel
I've heard that RF is coming out with RF PDB+OSD+VTX or something similar.

[2017-01-02 06:44] RBeaubien opened #352 "enum Setting_ parameters"
I'm not sure where else to ask this.  I need to change some defaults for flashing and I'm not sure what some of the parameter names are used for.  I'm looking for the Voltage Use FC and Amperage Use FC parameters.  Can someone tell me which ones they are?

[2017-01-02 08:06] sniperxnl commented on #351
i use the serial passtrough

[2017-01-02 09:35] chilly24 commented on #315
hey guys thanks for developing this feature ; )
Whats the current status and when is the release planed? i am having a tbs unify pro race hv version

[2017-01-02 13:17] RCnator commented on #350
Yea I added waypoint but I don't remember if it is currently actually usable. Might have been something relating to uploading of waypoints that wasn't finished.

Anyway, I enabled the sensors to be displayed but only acc shows up. Still I get altitude (baro and gps) readings and the compass works. Would have been great if this worked.

[2017-01-02 13:41] advancetom commented on #315
Hey today im tested 1.6.5.0
And Works Fine Till i changed the Font to dguz or Else !
After restart it will start with the Standard Font
Im Used this  in 1.6.4.0 and Works whats wrong?

[2017-01-02 13:45] jflyper commented on #315
@chilly24 BF version to be included in the 3.1 release. Are you waiting for the MWOSD-native support?

[2017-01-02 13:46] jflyper commented on #315
@advancetom Can you open a new issue?

[2017-01-02 14:16] advancetom opened #353 "Font Upload issue"
Hey today im tested 1.6.5.0
And Works Fine Till i changed the Font to mguz or Else !
After restart it will start with the Standard Font
Im Used this in 1.6.4.0 and Works whats wrong?
Im use BF 3.0.1 :)
Im tested this with an build in OSD and a brandnew osd :(

[2017-01-03 09:14] ShikOfTheRa commented on #353
Have you read the faq - there are a number of common reasons for this

[2017-01-03 09:15] chilly24 commented on #315
@jflyper: yes would be nice until the 3.1 is released
I am having a F3 Board with OSD build in from banggood:
http://www.banggood.com/F3-Flight-Controll-with-Integrated-OSD-6DOF-Acro-10DOF-Deluxe-Version-with-Pins-p-1054995.html?rmmds=search

I think they just put the chips from the MWOSD to the platine, so i connected now the Smart Audio Port to RX and TX of UART 2:
http://dronetech.esy.es/techre

[2017-01-03 09:21] ShikOfTheRa commented on #351
never used passthrough so not really sure what impact that has. Its normally a sign of corrupted serial. Can expect a few errors, but not regular like that. At some point I'll have a similar setup so may be able to help more.
Have you tried furious?

[2017-01-03 13:05] ShikOfTheRa commented on #350
I have just packaged up the latest release - 1.6.6.0

Have tested with iNav as far as I can with a simulator and after a few changes I think it will work now. I forgot it was only enabled for multiwii v2,4

Would be great if you can confirm. Likely to be a few weeks before I can verify in flight - just finishing off a quad to test

[2017-01-03 17:42] jflyper commented on #315
@chilly24
The MinimOSD portion of this board is not capable of driving the smartaudio directly.

For BF controlled application, you can connect your smartaudio wire to UART2 TX. (No RX connection necessary; it's ignored on F3.)

The BF smartaudio support was merged few hours ago, and the configurator is updated to allow easy setup. You can download the dev versions if you want to give it a try.

[2017-01-04 08:53] RCnator commented on #350
Oh I see now you're owner! You mean the OSD will display any flight mode the FC uses? When I use the simulator MAG and BAR light up depending on flight mode but it doesn't work for me IRL. I need to use a different computer to load the osd firmware from so I am sorry but I think I will have to wait. Maybe there has been even more updates when I get to it.

[2017-01-04 09:16] ShikOfTheRa commented on #350
Sim should show flight modes, but looking at the code in last few days, iNav uses different id's to say multiwii or cleanflight.

e.g. enabling airmode on simulator will send i.d's used by multiwii/cleanflight as default. As a result, airmode will show waypoint icon on MWOSD running inav now.

Put another way - the simulator is not 100% accurate for all platforms. Unfortunately keeping it accurate

[2017-01-04 15:34] RCnator commented on #350
Ok thanks!

[2017-01-05 14:30] ShikOfTheRa commented on #337
@anton-matosov
@2black0
Can someone try this. Today I have spent long time understanding mavlink protocol. Made a number of changes which I think may fix this. I have sent hundreds of thousands of mavlink packets form various sources and it seems stable and working now.

The only thing I am unsure of is armed status. The test data I have seems inconsistent with the documentation.

[2017-01-05 14:32] ShikOfTheRa commented on #348
@Nightsd01

Can someone try this. Today I have spent long time understanding mavlink protocol. Made a number of changes which I think may fix this. I have sent hundreds of thousands of mavlink packets form various sources and it seems stable and working now.

The only thing I am unsure of is armed status. The test data I have seems inconsistent with the documentation.

Needs to be version uploaded

[2017-01-05 17:55] anton-matosov commented on #337
I can try this out over the weekend

[2017-01-07 15:16] logotron opened #356 "BUG - bugfix for resetting of some Betaflight advanced parameters"
I try all versions from R1.6.4 up to R1.6.6.1 and in all of them after saving change in OSD next parameters in BetaFlight is reset to zero:
yaw_p_limit = 0
setpoint_relax_ratio = 0
dterm_setpoint_weight = 0
yaw_accel_limit =  0.000
accum_threshold = 0
yaw_accum_threshold = 0

After this changes Quad flip on ground; there's no way to fly!!

[2017-01-07 16:01] 2black0 commented on #337
Will try it maybe in next week, cause I need to build apm system again after the old one was sold  :D

[2017-01-07 18:47] ShikOfTheRa commented on #337
Thanks both.

[2017-01-08 13:37] ShikOfTheRa commented on #356
OK - will look at. what version of betaflight

[2017-01-08 16:00] advancetom commented on #353
I think After Version 1.6.4 i have this Problems Looks like he dont dont Write successful to the eeprom After restart?

[2017-01-09 02:16] RBeaubien opened #358 "KISS mAh not updating when using separate current sensor."
I have fixed and tested a bug in the KISS current sensor code.  How do you want me to post the fix?  I'm new to github and I would like to do it the correct way.  The fix is in MW_OSD.ino starting about line 309

Old code:
[code]
New code:
[code]
This fixes a bug that does not total mAh used when using a separate current sensor from the ESCs.

[2017-01-09 08:25] ShikOfTheRa commented on #358
Excellent - many thanks. Have updated the reposirory.
Happy to take code snippets like this to save learning github

[2017-01-09 08:25] #358 closed

[2017-01-09 09:56] ShikOfTheRa commented on #353
I have tried several times with different fonts and works every time for me. That is with latest packaged 1.6.6.1 and GUI

I also tried with 1.6.5.0 and seemed to work OK.
Please check the FAQ carefully - that covers most of the issues. Especially the voltage for programming - as can read/write settings OK, but not fonts if voltage is low.

[2017-01-09 18:38] logotron commented on #356
I am running BF 3.1 and I notice problem on almost all pre-releases.
To be more interested, I sniffing COM port I there is next communication:
09/01/2017 20:35:28.422 [OSD] - 24 4D 3C 00 70 70
09/01/2017 20:35:28.431  [FC] - 24 4D 3E 1E 70 01 01 02 02 02 02 03 03 14 04 04 04 0F 00 00 22 0E 35 19 21 53 32 32 64 28 00 00 05 05 05 4A

But I never found command where OSD asking FC about Advanced PID p

[2017-01-09 19:32] u8mydog opened #361 "Betaflight Configure OSD option"
Should I be able to configure the OSD from betaflight configurator?

My goal is to enable smartaudio using softserial on the FC and use OSD joystick commands to adjust VTX.

I've enabled the OSD option in betaflight configurator but the configurator OSD tab reports that it can not communicate to the OSD hardware. I can use mw_osd_gui to configure the OSD.

I've read [https://github.com/ShikOfTheRa

[2017-01-09 20:50] ShikOfTheRa commented on #356
Have found something. Updated main repository. I can't test for couple of days, but you are welcome to!

I see betafight has a few more parameters - will see if can add these into the menu as well

[2017-01-10 02:34] tednv commented on #324
still seeing this in 1660 what was the change to fix it?

[2017-01-10 08:11] jflyper commented on #361
@u8mydog

OSD feature selector on Betaflight configurator's Configuration tab is for FC integrated OSDs.

CANVAS is the MWOSD side build option.

Betaflight: v3.1.0-RC5 target SPRACINGF3 (appears to define CMS)
Scarab-osd: v1.6.6.1 (disabled MULTIWII, defined BETAFLIGHT and CANVAS_SUPPORT)

Your configuration looks okay.

Try "YAW Left" instead of "YAW Right" in the stick combination to enter CMS.

[2017-01-10 08:13] jflyper commented on #356
@logotron
You can use the CMS on BF3.1.

[2017-01-10 08:34] logotron commented on #356
@jflyper
I already using CMS and this is absolutely amazing feature. You did fabulous work, my respect!
The problem is if someone by mistake goes into "normal" menu and save changes, Quadcopter become useless (happen to me a few times).

[2017-01-10 08:35] jflyper commented on #356
@logotron
IC.

[2017-01-10 08:52] lichtl commented on #356
Maybe normal menu should be disabled when using CMS (not sure if this is already possible).

[2017-01-10 09:18] ShikOfTheRa commented on #356
@logotron
I was in rush to go out last night and didnt look properly. Its weird - lots of stuff missing out of teh advanced pid - been through and as far as can tell without trying on a FC its looks OK on simulator.

Uploaded to repository

@jflyper
I haven't yet tried betaflight. Hoping to put on a quad this weekend and test / tryout.

any chance of this in iNAV?

[2017-01-10 09:18] ShikOfTheRa commented on #356
@lichtl - lets see if can do it

[2017-01-10 09:24] jflyper commented on #356
@lichtl
Well, that is not that easy.

- MWOSD doesn't know if FC is capable of talking displayport (CANVAS) MSP until it first receives the first displayport message.
- MWOSD still needs its own menu to adjust MWOSD specific parameters.

There is however, one thing we can do; disable FC-oriented menus if CANVAS is enabled (default for BETAFLIGHT now).

@ShikOfTheRa
The CMS itself is already merged

[2017-01-10 09:49] ShikOfTheRa commented on #356
That's brill. Look forward to trying.

Havent seen canvas running yet, but is it possible to minimise the probability of dual CMS running?:

in serial.ino:
    if (armed || fontMode || configMode)  >>>     if (armed || fontMode )

    case 0: // Enter / hold canvas mode
      configExit() ...
      canvasMode = true;
      break;

in mwosd.ino:

if  (canvasMode = true) configMode=0;

[2017-01-10 10:29] ShikOfTheRa commented on #273
jflyper's cms is in and working to cover all  so think this can be closed.

Also added yaw to the advanced page today.

[2017-01-10 10:29] #273 closed

[2017-01-10 11:13] ShikOfTheRa commented on #305
Been no activity here for a while so will close.

As above there are some alarms.
Have also added a debug screen and text message option. Please see top of def.h for options

[2017-01-10 11:13] #305 closed

[2017-01-10 11:20] ShikOfTheRa commented on #352
@RBeaubien
are you sorted now? Need any more info?

[2017-01-10 11:20] ShikOfTheRa commented on #350
@RCnator are you working now?

[2017-01-10 11:21] ShikOfTheRa commented on #349
@HughAV are you working now?

[2017-01-10 11:21] ShikOfTheRa commented on #348
@Nightsd01 are you working ok now with latest?

[2017-01-10 11:23] #345 closed

[2017-01-10 11:25] ShikOfTheRa commented on #343
I have no plans to implement this within OSD. Sorry

[2017-01-10 11:25] #343 closed

[2017-01-10 11:26] #342 closed

[2017-01-10 11:28] ShikOfTheRa commented on #339
@nhadrian I don't think anything more can do here. In some ways, it looks like the FC is sending incorrect pitch/roll info. I would always expect the OSD AHI to broadly represent the horizon.

Will leave open for a week or two for any further comment / feedback

[2017-01-10 11:29] ShikOfTheRa commented on #340
I think answer is above.

Nothing more can do here

[2017-01-10 11:29] #340 closed

[2017-01-10 11:32] ShikOfTheRa commented on #326
Still think there is an issuue? I can't see / replicate anything

[2017-01-10 14:22] HughAV commented on #349
Thanks for following up. Have been busy, and have not had a chance to get
back in and try. I will let you know.

On Jan 10, 2017 6:21 AM, "ShikOfTheRa" <notifications@github.com> wrote:

[2017-01-10 15:53] HaseebNain commented on #326
No, I think the issue has been cleared.

I still get the occasional "NO DATA" but do not think it is related to MWOSD rather information may be corrupted when sent from the F4, increasing the timeout from 3 seconds to 5 or 6 might help but I'm not so sure.

[2017-01-10 17:17] RBeaubien commented on #352
Yes.  Thank you.

[2017-01-10 17:17] #352 closed

[2017-01-10 17:40] ShikOfTheRa commented on #352
Brill - thanks!

[2017-01-10 17:41] #326 closed

[2017-01-10 19:36] logotron commented on #356
I test new update; OSD still do not requesting MSP_PID_ADVANCED from FC,
code 24 4D 30 11 5E newer went to FC.

Saving data with MSP_SET_PID_ADVANCED (code 24 4D 3C 11 5F) working, but with all values equal to 0.

One more detail, BF MSP_PID_ADVANCED have 19 bytes in total, OSD writing 17.
Definition inside BF is:
    case MSP_PID_ADVANCED:
        sbufWriteU16(dst, currentProfile->pidProfile.roll

[2017-01-10 19:54] jflyper commented on #356
@ShikOfTheRa Thanks, I'll see if your proposed solution work.

[2017-01-10 20:10] ShikOfTheRa commented on #356
@jflyper - not looked at it too much but sure there is something me can do!

[2017-01-10 20:18] ShikOfTheRa commented on #356
@logotron - I've got betaflight running. See issue. just updated with hopefully last patch. Can save settings, power off and go back in and seem to have saved.

That said - I've looked at configurator for first time. I can't see any of those settings in there!
Is it required?

Also very confused. Says super rate in configurator, and there is serial msp for it, but in log it says its no longer used

[2017-01-11 02:08] tednv opened #362 "Naze32 LTM altitude problem"
This happens when osd is turned on before gps has a fix (inav with micro minimosd). If gps gets fix and I power cycle osd, everything works as it should. If osd is turned on before gps fix, when disarmed altitude shows up correctly. When you get gps fix and you arm, altitude gets set to -2150 (in my location, I'm sure it's different for everyone else). When you fly, it does go up and down normally

[2017-01-11 11:01] ShikOfTheRa commented on #356
OK - thought more about this last night.

Have removed all the Advanced PID code. It seems too liable to change between versions and I don't want to mess anything up.
This should resolve all the issues created by saving zero values to advanced pid settings.

This is on the following basis:

1 - It is all available in forthcoming Betaflight release + current dev This is the way to go. Full credit t

[2017-01-11 11:22] logotron commented on #356
I agree, CMS is definitely a good way forward.

What about an additional feature like ON SCREEN PIDS?
I see that you remove this feature from commitment for 1.7 version.
This feature really helps with tuning Quadcopters.
You can check on YouTube, a lot of positive feedback:
https://www.youtube.com/watch?v=8mutKDVSKZs&t=11s

[2017-01-11 11:44] ShikOfTheRa commented on #356
Not sure that was much of a flight ?!

Only removed the advanced PID - only these (which did not work until last night!):
"YAW P LIMIT";
"YAW RATE ACC LIMIT";
"RATE ACC LIMIT";

But added
"RC YAW EXPO"

On screen PIDs is OK, but I am not sure how to detect when it is in in flight tuning mode.

[2017-01-11 12:21] logotron commented on #356
In flight tuning mode is described in this video:
https://www.youtube.com/watch?v=JpnCMLmxme0&t=404s

Everything happening inside Flight Controller.
OSD only need to display all PIDs values on the main screen during the flight and refresh values requesting MSP_PID in the same main loop where is MSP_STATUS, MSP_ATTITUDE,...

Pid tuning can be on sperate Layout/page which needs only a few additional

[2017-01-11 12:48] ShikOfTheRa opened #364 "Betaflight / MWOSD CMS co-existance"
@jflyper

Jflyper has added CMS support to some FC such as betaflight.
This provides ability to access / configure all settings.

They can potentially clash in certain scenarios. This issue is to discuss and propose solutions.

Potential options:

1:
in serial.ino:

if (armed || fontMode || configMode)  // change to:
if (armed || fontMode )

case 0: // Enter / hold canvas mode
  if (configMode)

[2017-01-11 13:18] ShikOfTheRa commented on #364
Actually I think just before the serial canvas case statement would work better. I'll submit a PR and try out tonight.

[2017-01-11 13:25] ShikOfTheRa commented on #364
Er. dull question - how do you enter CMS mode on the FC ?! I can't find...

[2017-01-11 13:32] skaman82 commented on #364
if you mean the stick combo: yaw left+thr mid and pitch up

[2017-01-11 13:35] ShikOfTheRa commented on #364
Brill. Have updated the main repository. Can't wait to try this out tonight!

[2017-01-11 19:01] ShikOfTheRa commented on #364
Do you have to do soemthing to enable it - or is only ther ein F3 targets? Doesn't seem to obe initiation on my naze running bf 3.1

[2017-01-11 19:05] skaman82 commented on #364
Dunno about F1 targets I just needed to enable canvas in MWOSD and then it worked perfectly. Have no F1 target anymore to test...

[2017-01-11 19:06] jflyper commented on #364
Ah, F1 targets drops CMS. Must be >128K targets.

[2017-01-11 19:17] ShikOfTheRa commented on #364
OK. i do now have an f3 so will have to get that running. Was hoping to see in action tonight.
Any chance someone can try latest in repo - to see if the two play ball together now? Had a look at the code and it looks like it should

[2017-01-11 22:04] DaveLister007 commented on #327
I'm gonna push this little further - any news on source code from vendor?

If not, how different do you reckon this vtx is from this one??
https://github.com/PickwickGroup/scarab-osd/commit/9cb6e99da3446d763c82024485a4e6e6e0e7bd5e

Quick beeping with my multimeter revealed that CH1-CH3 pins of FX758 are connected via 10K resistors to MCU pins, so I'm guessing SPI. There are probably no dedicated p

[2017-01-12 03:15] u8mydog commented on #364
There is not enough memory to enable CMS but if you disabled some functionality like BARO and LED_STRIP in src/main/target/NAZE/target.h, then it will link and appears to fit in memory. Compile beta flight yourself using the command:
make TARGET=NAZE OPTIONS=CMS

-------- Original message --------From: ShikOfTheRa <notifications@github.com> Date: 2017-01-11  2:01 PM  (GMT-05:00) To: ShikOfTheRa/sc

[2017-01-12 13:46] ShikOfTheRa commented on #362
is the OSD connected as normal - so can use menus etc. when not armed, then flips into LTM when armed?

[2017-01-12 15:16] ShikOfTheRa commented on #364
OK - did bits in post 1 - works fantastic.
Tried all sorts of combos to get to lock / cause issues. Couldn't break it.

@jflyper any need to retain the canvas first / * ?
Have left it in but it seems to work great. Bit odd having different stick commands. I guess they were there because of co-existance issues.

You did a great job on this!

[2017-01-12 17:01] tednv commented on #362
yes msp side works as expected when not armed, shows gps counts, can edit things, and altitude sets to zero correctly. when arming, altitude switches to -2150 if osd was powered on before a gps fix. if i leave osd powered off until there is a gps fix and then power it, everything works and altitude in armed matches disarmed. it does go up from -2150 when flying, so it's just not zeroing correctly.

[2017-01-12 17:34] ShikOfTheRa commented on #362
I thought that was the case. In brief they are conflicting...

So your suggestion will work for you but unfortunately not others who are using LTM without MSP.  If anyone uses mavlink and msp at same time, they may get same issue (I suppose no one do this?)

I have submitted a PR to hopefully work in both scenarios. Care to test?

Thanks for pointing out. I don't suppose many use this combination.

[2017-01-13 00:52] tednv commented on #362
there will be a whole lot more people using it if i ever put up some more info on my build, i think i'm way ahead of most builds out there. i'm squeezing every ounce of processing power out of my skyline32 with inav (using custom inav builds)

oh also a heads up, the current doesn't come through ltm right, but i don't care just ended up soldering the current sensor wire that goes to FC to minimosd

[2017-01-13 01:32] tednv commented on #362
tested last commit, that took care of it!

[2017-01-13 08:51] ShikOfTheRa commented on #362
That's great setup there. On mine I use telemetry over audio to a tracker unit. Purely for range / signal quality.

let me know if see any others.

The current is an issue - from what I read, some FC sent maH consumed and others send mA might have to have a #define for both options.

Thanks for feedback and raising issue. I'll close thsi for now. Feel free to re-open. I still get comments when clo

[2017-01-13 08:51] #362 closed

[2017-01-13 08:52] #348 closed

[2017-01-13 11:35] csurf opened #365 "move GUI to new platform"
I'm completely fed up with the java/process-based GUI. Can we please try to come up with something better? Even if it's just a basic config app, anything would be an improvement over the existing GUI.

I vote for a simple chrome app that sends the OSD config over serial. We could use one of the existing 'configurator' apps for betaflight/cleanflight/baseflight as a basis for building the app. The

[2017-01-13 15:54] yxeGithub commented on #111
I have this working by just changing the execute permissions.

I ran ls -alh MW_OSD_GUI/application.macosx/MW_OSD_GUI.app/Contents/MacOS/ and noticed it didnt have the corect permissions so I ran: chmod 755 MW_OSD_GUI/application.macosx/MW_OSD_GUI.app/Contents/MacOS/MW_OSD_GUI and then I could open it from finder or the command line.

Just wanted to update this thread for the next time I come acro

[2017-01-13 16:05] ShikOfTheRa commented on #111
Thanks - added to FAQ. Chrome app will be released soon.

4 I can't open GUI on my MAC - unidentified developer error / unable to open

http://www.imore.com/how-open-apps-unidentified-developer-os-x-mountain-lion
Ensure the application.macosx/MW_OSD_GUI.app/Contents/MacOS/MW_OSD_GUI file is executable
If not issue chmod +x on that file
chmod 755 MW_OSD_GUI/application.macosx/MW_OSD_GUI.app/Content

[2017-01-13 20:18] ShikOfTheRa commented on #365
@csurf
Yes I hate it more than most... -someone is just finishing one off. ready for release with 1.7

I am going to close this so don't get lots of mails.

Attached screenshot. Its developed completely from ground up and will not be open
mail gary@flypix (dot co dot uk) if want to try.

![capture](https://cloud.githubusercontent.com/assets/11336532/21944236/06ed6ba2-d9cd-11e6-8927-c67fdd7d3fc4.PN

[2017-01-13 20:18] #365 closed

[2017-01-14 03:51] jflyper commented on #327
@DaveLister007

Not much. You can probably come up with a working code only by substituting pins for spi to match that of innova.

[2017-01-16 22:25] mahowik opened #367 "list of supported software"
you can also include my fork to the list of supported software
https://github.com/mahowik/mahowii

[2017-01-17 10:55] ShikOfTheRa commented on #367
Wow. There’s a blast from the past!! MultiWii and mahowik!

Some interesting developments there. Some of those vids showed some excellent position hold.

I don’t suppose this would fit on a 328??
Only have one multiwii copter. I’m resisting updating it!!

Have updated the multiwii line and included url to your repo. Hopefully it will make a few other look.

[2017-01-17 15:09] jflyper commented on #364
@ShikOfTheRa
The upper left asterisk is to indicate that there is MSP_DISPLAYPORT message coming in without starting. Can delete it now, but leaving it might help trouble shoot some cases.

[2017-01-17 15:35] ShikOfTheRa commented on #364
Yeah its all merged and tested. I can say it works awesome.
I also put an extra menu page in for betaflight 3.1 to access or "advertise" it, because I think it's a largely unknown feature.

really would like to see this in iNav - fantastic for easy  field tuning so have just added a note re that

[2017-01-17 15:35] ShikOfTheRa commented on #364
Oh - no issues in leaving the * - in testing I couldn't make it occur any more. I guess that's a positive

[2017-01-17 17:32] jflyper commented on #364
@ShikOfTheRa Awesome!!!

[2017-01-17 18:08] mahowik commented on #367
Thanks a lot.

With 328 it's possible to fit but without GPS.

Sorry but I didn't found the description update anywhere. Did you forgot to commit? :)

[2017-01-17 18:40] ShikOfTheRa commented on #367
I put in config.h like this

//#define MULTIWII                  // Uncomment this if you are using latest 2.4 MULTIWII / MAHOWII  (https://github.com/mahowik/mahowii)

I thought so.
I'll have a look. I do have one of these.. http://www.multiwiicopter.com/products/paris-v5r3-multiwii-with-full-osd-gps-mag-board

[2017-01-17 20:27] RCnator commented on #350
Hi, yes I have been rather busy working and haven't updated the fw or anything. Appreciate the work you do though.

[2017-01-18 09:24] sniperxnl opened #370 "Piggy OSD"
Hello All,

Can i load the latest FW from scarab-osd

Define Canvas and Define latest BF version
Can i then set the settings with BF OSD menu option in the GUI?

[2017-01-18 15:36] mahowik commented on #367
thanks a lot

[2017-01-18 16:01] ShikOfTheRa commented on #370
I don't know. Suggest you raise with furiousfpv.

The guys are getting furious with their lack of response .... bad joke eh!

I have one, but scared to try it in case I screw it up!

[2017-01-18 17:59] sniperxnl commented on #370
furiousfpv respons always on the emails what i have send to them.  this have nothing to do emwith furiousfpv so.

i have loaded the latest firmware todat and define canvas.  only i can't use the osd features in betaflight gui to set everything up

[2017-01-18 18:59] ShikOfTheRa commented on #370
We are / were unsure about the piggy hardware - Furious haven't confirmed its compatible.
But if you say it works, that's great. I'll upgrade mine now.

For canvas features...
Must have Betaflight 3.1 (at moment it is only available as unstable release)
Must have a build that includes the dispaly port code (I think F3 processor minimum)

OSD features in betaflight are not for MWOSD

[2017-01-19 20:13] DaveLister007 commented on #327
I messaged FuriousFPV and got the source code into email. There is nothing like sending something via serial port/SPI added, just raped PID menu for setting channel, and storing/loading it from EEPROM. Either im blind/dumb, setting channel/power is done via some other magic outsice MCU, or they deleted that piece of code before sending it to me. If anyone wants to have a look, let me know, i'll se

[2017-01-19 22:55] ShikOfTheRa commented on #327
yeah. like to take a look. I'm hoping to add vtx support into mainstream code. If don't hear back from them its probably not going to be compatible.

[2017-01-19 23:13] DaveLister007 commented on #327
This is what I received. Seems to be based of 1.6 version. Rename it to .rar (githib doesn't allow that extension).
[FIRMWAVE.txt](https://github.com/ShikOfTheRa/scarab-osd/files/718014/FIRMWAVE.txt)

[2017-01-19 23:26] u8mydog commented on #327
Try diffing the two OSD dirs. For example, globalVariables.h has EEPROM_ADR_BAND, EEPROM_ADR_CHANNEL, EEPROM_ADR_FREQ and EEPROM_ADR_POWER. Looks like serial.ino uses the eeprom values via PID settings.

      From: DaveLister007 <notifications@github.com>
 To: ShikOfTheRa/scarab-osd <scarab-osd@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
 Sent: Thursday, January 19, 2017 6:

[2017-01-20 09:03] ShikOfTheRa commented on #327
Does appear that this does not include all the code..

Good to see the Piggy is stock to confirm what thought

[2017-01-20 09:21] jflyper commented on #327
+1 This is a deteriorated code.

[2017-01-22 01:42] u8mydog commented on #361
Thanks. I misunderstood the purpose of OSD option in betaflight. Verified that CMS works with yaw left, throt middle and elev stick up.

[2017-01-22 01:42] #361 closed

[2017-01-22 15:09] ShikOfTheRa commented on #370
Confirmed standard firmware. This can be closed.

Yes MWOSD supports piggy as standard

[2017-01-22 15:09] #370 closed

[2017-01-22 15:10] ShikOfTheRa commented on #364
Think this can be closed. Feedback v positive.

[2017-01-22 15:10] #364 closed

[2017-01-22 15:14] ShikOfTheRa commented on #356
Bug fixed - thanks for pointing it out. Amazed no-one noticed before.

In flight tuning PID is added to the roadmap for future (prob next) release.

Closing this. Thanks!

[2017-01-22 15:14] #356 closed

[2017-01-22 15:16] ShikOfTheRa commented on #353
No other reports and uable to replicate.  So closing this.
Also suggest to try the chrome GUI in latest release

[2017-01-22 15:16] #353 closed

[2017-01-22 15:17] ShikOfTheRa commented on #350
Closing this as I believe resolved. It works on test sim for me. Please re-open if issue

[2017-01-22 15:17] #350 closed

[2017-01-22 15:18] ShikOfTheRa commented on #349
Closing this for now. If have continued issues please raise on support forum. Thanks!

[2017-01-22 15:18] #349 closed

[2017-01-22 15:19] #346 closed

[2017-01-22 15:19] #339 closed

[2017-01-22 15:20] ShikOfTheRa commented on #337
Feedback is now 100% so closing. Thanks. There was an issue and it appears resolved

[2017-01-22 15:20] #337 closed

[2017-01-22 15:21] #321 closed

[2017-01-22 15:22] ShikOfTheRa commented on #315
Thanks. Closing as this is not on MWOSD dev list and Jflyper has provided an alternative solution.

[2017-01-22 15:22] #315 closed

[2017-01-22 15:23] #367 closed

[2017-01-22 20:33] ShikOfTheRa commented on #313
So I tried raceflight today as seems like near zero interest in last xx months

The PID config seems to work. I have no idea if what is on OSD matches what real PID is in FC
Other like advanced do not. Looks like different params.
Horizon works
Modes are different in configurator so presume some differences there.

So I am going to remove all config options except PID and add it into list of suppo

[2017-01-22 20:33] #313 closed

[2017-01-22 20:36] ShikOfTheRa commented on #351
Any luck? Are you working now

[2017-01-23 11:10] sniperxnl commented on #351
No

[2017-01-23 12:38] Robinhuett commented on #351
I don't have this issue on my piggy. I'm also using serialpassthrough (on a kombini).
But I use the MWOSD version that it comes with. So if this is about the current branch ignore this.

[2017-01-23 18:41] DaveLister007 commented on #327
So I messaged them again, and received some this. This one looks much better.
[MW_OSD_VTX.txt](https://github.com/ShikOfTheRa/scarab-osd/files/724622/MW_OSD_VTX.txt)

[2017-01-23 19:35] ShikOfTheRa commented on #327
Well that took some time. It looks about right.

Can now consider which to implement. If any!

Not going to add anything new as closed doors for anything new for 1.7 . So maybe this is for 1.7.1

Thanks for the files. Hugely appreciated

[2017-01-23 19:47] jflyper commented on #327
[code]
This is what I wanted to know. There's nothing else special (except for hard coded EEPROM addresses).

And I've noticed that tx5823-pro code is used also.
[tx5823-pro](https://github.com/sheaivey/tx5823-pro/blob/master/src/tx5823-pro/tx5823-pro.ino)

[2017-01-23 19:49] jflyper commented on #327
I'm now interested in how to control peripheral devices on OSD from FC...

Extend MSP_OSD message?

[2017-01-23 21:42] DaveLister007 commented on #327
@jflyper If the pins were only thing you were interested in, I could have told you month ago by reverse engineering it :)

Anyway, canvas mode and commands to set channels/power via FC is way to go IMHO.

[2017-01-23 22:36] ShikOfTheRa commented on #351
Someone else posted similar:
http://fpvlab.com/forums/showthread.php?50686-Cannot-update-mwosd-mini-through-FC

[2017-01-24 10:12] jflyper commented on #327
@DaveLister007
It has been requested in the [6th comment](https://github.com/ShikOfTheRa/scarab-osd/issues/327#issuecomment-256545317)  above ;)

[2017-01-24 15:09] HughAV commented on #349
Figured it out! Issue with my PC...

On Sun, Jan 22, 2017 at 10:18 AM, ShikOfTheRa <notifications@github.com>
wrote:

[2017-01-24 15:16] ShikOfTheRa commented on #349
OK - thanks for feedback

[2017-01-29 12:12] jflyper opened #371 "1.6.7 Canvas mode (MSP_DISPLAYPORT) going OoS"
There has been multiple reports of 1.6.7 showing asterisk with screen cleared upon entry into canvas mode.

https://www.rcgroups.com/forums/showpost.php?p=36754674&postcount=44074

1.6.5 is okay.

[2017-01-29 12:13] jflyper commented on #371
Strange that no MSP_DISPLAYPORT message seems to be understood after displaying the asterisk.

[2017-01-29 13:40] ShikOfTheRa commented on #371
My error I think. Cleaning up compiler errors for unused variables...
Just undone...

[2017-01-29 14:32] jflyper commented on #371
It actually was my fault to make this an option. I should have coded the attribute field as mandatory on both sides!!!

[2017-01-30 17:04] ShikOfTheRa commented on #371
No - definitely my fault. I haven't tested to confirm. Will do this week. Could do with a copter of each type to verify everything without constantly rebuilding...

[2017-01-31 19:48] robschii opened #372 "can not navigate in menu"
i use microminim osd from banggood  and i use the last beta.

i can open the menu  mitch trottle stick middle and pitch foward  an also exit  but i can not change the  page   witch yaw right and trottle middle    like in the release 1.6

[2017-02-01 09:00] Robinhuett opened #373 "Add mAh/min indicator"
Hi,

I'd love to see an mAh/minute indicator in the OSD. Kinda linke in the ImmersionRC and TBS OSDs.
I'll have a look in the code myself.
Maybe I can figure out how to implement it, than I'll make a PR.

Tanks in advance.

[2017-02-01 10:03] ShikOfTheRa commented on #373
Suggest implementing in method similar to this. I haven't seen either of those so not quite sure how operate, but probably these have all the basics of what is needed to impelement- :

#define DISPLAYWATTS                // Enable this to display Watts (if Watts selected in layouts). Select either WATTS or EFFICIENCY. Not both
//#define DISPLAYEFFICIENCY         // Enable this to display Watts/KMh

[2017-02-01 10:17] ShikOfTheRa commented on #372
That's strange - its working for me

values sent from TX must go outside these values (which can amend in globalvariables:
#define MAXSTICK         1850
#define MINSTICK         1150

They are quite high, but in line with how shoudl be configured with a normal FC.
Also worth checking that rates are not enabled.

Odd thing is can enter the menu.... which uses same values!

[2017-02-01 10:58] Robinhuett commented on #373
This is an ongoing calulation (average over flighttime), so im not entirly sure if it would have an large impact on the performance. But since this isn't a critical value a slightly slower calculation would be more than enough.
So it would be simple math like: **mAh used** / **time**.

[2017-02-01 13:36] ShikOfTheRa commented on #373
Plenty of processing power available. Memory free isnt huge, but this is quite small. Need to think carefully about what you are asking...
Have just gone to implement and  I think you are probably asking for mah used per minute to determine how many minutes left of flying time??

Anyway, have tried to implement something. Hope its what you want
Its based upon flying time so will take a minute or t

[2017-02-01 13:48] Robinhuett commented on #373
Wow, that was fast!
From what I see in the commits it looks good 👍

I haven't made anything yet. I could start when I'm at home. But I guess I could simply test yours :)

[2017-02-01 13:54] ShikOfTheRa commented on #373
Yeah - try this. It works on simulator.... but not sure if its what you are looking for.

[2017-02-02 07:38] jflyper opened #374 "fpvlab.com down"
@ShikOfTheRa
Can you drop me an e-mail message? janeflyper (at) gmail.com ?

[2017-02-02 07:38] #374 closed

[2017-02-03 11:09] ShikOfTheRa commented on #372
Just to be sure - what controller do you have set in config.h

[2017-02-05 03:04] wt29 commented on #321
This is true - the Furious FPV site is wrong. My SP F3 Deluxe needs Rx on FC to RX on Piggy otherwise "No Data / Disarmed" is all I see

[2017-02-06 10:18] Robinhuett commented on #373
Seemd to work fine on the bench. I'll test it in the field and will check the math when the wether gets better in germany..
But for now seems good. If there is something to change ill make a PR ;)

[2017-02-06 10:18] #373 closed

[2017-02-06 11:43] ShikOfTheRa commented on #321
Great huh!! Mistakes happen though.

[2017-02-10 13:26] HenryIvarsson commented on #327
Thank you guys for all the hard work! I flashed my BG Innova clone to the latest mwosd beta without thinking, should I try flashing back to the version posted above or wait for MWOSD support? When do you think there can be a version to test?

[2017-02-10 13:30] jflyper commented on #327
@HenryIvarsson The current MWOSD doesn't support Innova's VTX capability. You should flash it back. The support schedule is not available yet (Probably after March 1st, when Betaflight 3.1.6 patch is released.)

[2017-02-11 14:38] triolus opened #377 "xjt transmitter telemetry, Will not display osd over video."
No option to take xjt transmitter s-port telemetry to osd. Osd will not overlay over video. when video is off the osd data is available. composite video to goggles/monitor being hacked into OSD. This is to remove the osd from the craft. Requesting direct frsky s-port to OSD option without flight processor in between.

[2017-02-12 12:03] jflyper commented on #377
@triolus
Are you talking about receiver side OSD?

[2017-02-12 12:05] jflyper opened #378 "Quick Q."
I see completely duplicate block of defs in `Defs.h`, under `BETAFLIGHT2`.

Is this intentional?

[2017-02-12 12:37] #371 closed

[2017-02-12 18:38] jflyper commented on #327
Okay, I can probably spend next couple of days for the initial cut of the Innova support.

[2017-02-12 19:18] HenryIvarsson commented on #327
That sounds awesome, thank you!

[2017-02-12 21:25] csurf opened #379 "PASSTHRU mode for fixed-wing not being detected for iNav 1.6"
I'm having an issue with MWOSD not being able to detect when the flight mode is PASSTHRU for the latest version of iNav 1.6. The flight mode still shows as being in 'GYRO' mode when it should show 'PASS'.

I tried looking at both the MWOSD code and the iNav code, and couldn't figure out why this is happening. Nothing major appears to have changed in either the BOXID or MSP_STATUS code for both iNa

[2017-02-12 22:30] ShikOfTheRa commented on #327
@jflyPer - I have Vtx branch ready to merge for another  one. Can you wait until I merge? Might be a lot of common code can reuse. Need to review on my pic should be tomorrow or day after at latest

[2017-02-12 23:17] jflyper commented on #327
Dah! I already did most of the code. Well, I'll pause as it is right now.

[2017-02-13 06:22] HenryIvarsson commented on #327
Nice!! Is there any way to download a compiled version to test?

[2017-02-13 06:50] HenryIvarsson commented on #327
Ah, sorry, missed the ShikOfTheRa's comment above, no stress guys! You guys rock!

[2017-02-13 09:30] Robinhuett commented on #378
I guess the second block should be `BETAFLIGHT3` since it is missing from `Defs.h`.
But still it's a duplicate so `BETAFLIGHT2` could be used to define `BETAFLIGHT3` or could be removed entirely.

[2017-02-13 09:41] Robinhuett commented on #378
This would fix it: #380

[2017-02-13 15:14] ShikOfTheRa commented on #327
@jflyper Dah! 2
Just synced a branch. Does this work for you - or possible to include its elements into your stuff.

Used ImpulseRC code as base.

Menu separated from hardware type – to allow multiple hardware implementations

VTXHARDWARETYPE.ino will need: following and any associated code
  vtx_init() // set up hardware
  vtx_save()  // save vtx settings
  vtx_read() // load vtx settings from ee

[2017-02-13 15:21] ShikOfTheRa commented on #377
I think so. Not to bad to do, but I suspect requires hardware inverted if its like rest of FRSKY...

I don't have any plans as no time. Added to development wishlist if anyone else can pick this up

[2017-02-13 15:30] ShikOfTheRa commented on #378
Yep - ^^
Trying to remember if there was a difference between 2 and 3...

[2017-02-13 15:42] ShikOfTheRa commented on #379
I just tried with simulator of latest test release - 1.6.8 and it worked OK.
inav appears to be using same value, so would expect this to work on other versions too.
note that mission and airmode are different to other FC, so need to use 1.6.8 if want those to be accurate

i'll test when get it on a plane, but likely to be 2-3 weeks

[2017-02-13 15:44] jflyper commented on #378
@Robinhuett Ack!

@ShikOfTheRa It was a total mystery for me :)

[2017-02-13 15:44] #378 closed

[2017-02-14 09:57] csurf commented on #379
I looked at the code for both iNav and MWOSD, and, I agree, the code looks the same, but mode indicator is still showing GYRO when in PASSTHRU. All other modes appear to work fine. I'm not using mission or airmode.

Any other ideas?
I'd be willing to test if u can send me a patch or something to work with...

[2017-02-14 10:49] ShikOfTheRa commented on #379
Grab zip from download link here:
https://github.com/ShikOfTheRa/scarab-osd

Find and enable DEBUG 4 in config.h

On the debug screen displayed on OSD,
D0 – Sensor ID Active status – first 16
D1 – Sensor ID for camstab (as a secondary reference)
D2 – Sensor ID bit that MWOSD thinks is used for passthru – so 2048 would be bit 11

In example above, when toggle passthru mode, should see bit 11 toggle

[2017-02-14 11:00] ShikOfTheRa commented on #379
Also, do you have one of following enabled::
MIXER_FLYING_WING
MIXER_AIRPLANE
MIXER_CUSTOM_AIRPLANE;

[2017-02-14 11:08] csurf commented on #379
MIXER_FLYING_WING

[2017-02-14 14:11] ShikOfTheRa commented on #379
OK that's good. It must be one of those or it doesn't send.
Have had a look through both sides and appear Ok to me .

[2017-02-14 18:46] ShikOfTheRa commented on #379
I just tried with mwosd 1.6.8 and inav latest dev release and it worked ok.  simple setup with a naze. only enabled horizon and passthrough for test. One othe rperson has reported on rcgroups
Are you using LTM or mavlink?

[2017-02-15 05:47] csurf commented on #379
ok, tried enabling debug, and I'm getting all zeros for D0 - D3. What am I doing wrong?

[2017-02-15 09:41] ShikOfTheRa commented on #379
Yes that helps. (sorry I forgot to push the last commit... so ya wouldn't have seen any change!)

Quiet alot of additional features added into inav and I think this is pushing the send order of id's outside of the original multiwii scope built.
Passthrough with fixedwing enabled is first one to hit this limit.
MWOSD needs to be amended to support great new features inav is bringing

Have amended t

[2017-02-15 14:25] ShikOfTheRa commented on #379
If already downloaded,  I left in error from testing so if no icon is shown, please comment out NAZAMODECONTROL in config.h

[2017-02-15 16:18] ShikOfTheRa commented on #379
See for hopefully a resolution

https://github.com/ShikOfTheRa/scarab-osd/issues/379

[2017-02-15 20:25] csurf commented on #379
@ShikOfTheRa,
ok, adding the new modes to the list fixed it.

Before I close this out, I'm curious to know how the ordering & logical bit math works. Is the 'mode' struct some kind of bit-packed structure? Why did adding the new modes into the struct fix the problem? Wouldn't the 'switch-case' within Serial.ino automatically take care of skipping the unused modes?

[2017-02-16 10:06] ShikOfTheRa commented on #379
Excellent - thanks for feedback.

There are three parts to this.

Index
Each possible feature that is sent has a unique id. In iNav, Passthrough = 12

Boxid:
Because there are many potential features that can be enabled in code – and from historic lack of memory available with multiwii / atmaga 328 from which todays FC came from, only ones available for use are sent.
So boxid sends the order of fe

[2017-02-16 15:08] macfly1202 commented on #327
HI, I've got a genuine Innova vtx V1. It's perfectly working. But Essential issue I got is my cam is NTSC and innova - actual code - only support PAL so I can't see last line > impossible to navigate between menu in this case...I'm not alone in this case according to RCGroup thread. I'm sure there is solution on this problem like enumerate new page OR changing font in worst case (wendy3x5.h could

[2017-02-16 16:59] jflyper commented on #327
@macfly1202
The VTX branch is created without an actual hardware, so need some testing/debugging. And it's for ImpulseRC's Helix OSD, so must still be modified to tailer for Innova.

I'm confused by this question.

- If I understand the link you've provided correctly, it's for receiver side configuration.
- In the wiring, SPI is controlling MAX7456 and RX5808, controlling devices.
- MSP (and other

[2017-02-16 17:38] macfly1202 commented on #327
@jflyper  Thanks for clarification about VTX branch.
About
I'm sorry If not very clear. I'm not developper just DIYer. If I well understand, Omnibus F4 pro or betaflight F3 board display infos receive (and transmit setup) with SPI connection instead of traditionnal "serial" uart connection. In my example link, SPI from 328p is use to display and change channel of rx5808. But I was simply asking in

[2017-02-16 17:42] jflyper commented on #327
FC-integrated MAX7456 boards use SPI to control the MAX7456.

FC-integrated MimimOSD-variant use UART to communicate with M328P, M328P use SPI to control the MAX7456.

So, what are you proposing?

FC-integrated MinimOSD-variant to use SPI to communicate with M328P?

[2017-02-16 17:45] Dronek opened #381 "Feature suggestion/request: wind direction & speed indicator (calculation proposal for fixed wing)"
It would be nice to have wind direction and speed indicated by the OSD similar to RTH arrow. For wind, the arrow could indicate the wind direction relative to the aircraft and the value below could indicate wind speed in a unit of choice (ideally identical to other speed indicators' units on the screen, i.e. kph).

I suggest calculating wind speed and direction during a segment of leveled and stra

[2017-02-16 17:46] macfly1202 commented on #327
NOT integrated FC use SPI to control the MAX7456 in 1st time. Why must it be integrated ? 3-4 wires to solder between FC F PIN and MAX PIN.
In 2nd time, FC use SPI to control RX.

[2017-02-16 18:37] u8mydog commented on #381
I'm very rusty at this stuff but I did create comparable calculations many many years ago when I created a 'basic' program on a pocket TRS-80 to simplify creating flight plans when I was a current private pilot.
Luckily you are not trying to calculate climb and decent rates when taking into consideration air density.
But, I question why you would want to add these calculations/filtering to an OSD

[2017-02-16 18:42] u8mydog commented on #327
I have wondered the same thing if I understand the original question.
Give minimOSD the option to enable FC integration by using SPI communication from FC -> M328P -> MAX7456.

Basically, the M328P acts as a simple bridge to the MAX7456 moving all OSD functionality to the FC instead of the M328P.

      From: jflyper <notifications@github.com>
 To: ShikOfTheRa/scarab-osd <scarab-osd@noreply.github

[2017-02-16 18:52] Dronek commented on #381
My suggestion would be to use LUA scripts on an OpenTx radio such as Taranus or Horus. The radio would receive the sensor info via telemetry, calculate wind speed/direction, and then send the info back to the FC either as telemetry info, or via dedicated channels (much like how RSSI can be displayed on OSD).
Then the LUA could be adopted to collect wind speed/direction from a ground station that c

[2017-02-17 09:12] ShikOfTheRa commented on #381
Plenty of power available. Not a lot of memory though:)
This is possible. I have added to the list of development requests. Unfortunately I have a lot on mine - I hope someone else can pick up

Where do you get the airspeed? There is code in OSD for this, but it hasn't been tested or used as far as I am aware.

[2017-02-17 09:39] HenryIvarsson commented on #327
Hey guys, any code ready that I should test on my Innova yet? If so I might need som help compiling if it is not posted somewhere already.

[2017-02-17 10:11] jflyper commented on #327
@HenryIvarsson [Read this](https://github.com/ShikOfTheRa/scarab-osd/issues/327#issuecomment-280391069)

[2017-02-17 10:15] jflyper commented on #327
@u8mydog

If we do this via SPI, we don't need M328 at all.
If we do this via UART, it is too slow, at least atm. We have tested this option during the development of the CMS over MSP_DISPLAYPORT; too much overhead sending characters instead of sending binary data.

[2017-02-17 10:18] HenryIvarsson commented on #327
@jflyper Thank you, just so I understand correctly, I assume I cannot test Innova on the Impulse settings on the vtx branch as the hardware is to far apart?

[2017-02-17 10:18] ShikOfTheRa commented on #327
@HenryIvarsson - nothing available for Innova. Can't use current branch
The Furious guys added that in. I am planning to add it in, but have not started yet...
also do not have any hardware to test it with.

[2017-02-17 10:20] HenryIvarsson commented on #327
Ok, then I understand, thank you

[2017-02-17 10:22] ShikOfTheRa commented on #327
@jflyper how would you like to progress the work you already done with the vtx branch? I'm happy if you would like to scrap what I have put in and put yours instead?

[2017-02-17 10:30] Dronek commented on #381
This is possible. I have added to the list of development requests.

Nice, thanks :)

I'm using iNav on my flying wing and as far as I know airspeed sensor support is on the way in iNav.
Being no coder, I guess it shouldn't be a big issue to get airspeed from iNav as soon as it's available?

[2017-02-17 10:49] macfly1202 commented on #327
@ShikOfTheRa : I made a little paypal contribution that could help in hardware issue side: "do not have any hardware to test it"

[2017-02-17 13:59] DaveLister007 commented on #327
Will the current implementation support MSP_VTX command? (Or whatever is the command, that betaflights sends via MSP to VTX to set channel called)?

[2017-02-17 14:00] jflyper commented on #327
@DaveLister007 Something like that planned, but not implemented yet. The MSP actually wasn't designed for this kind of operation...

[2017-02-17 14:29] ShikOfTheRa commented on #327
@macfly1202  - that is awesome of you. I'll get on to furious. I think their HQ is close to me although different country and a few KM of water between us.

[2017-02-17 14:35] ShikOfTheRa commented on #327
@jflyper - I didn't know about the betaflight MSP VTX support. If appropriate add it in.
Not worried about menu ordering. Feel free to make it flexible.
I have a helix but waiting on rest of gear on slow boat from china to build a test setup.

[2017-02-17 15:36] jflyper commented on #327
@ShikOfTheRa MSP VTX stuff is still a vaporware.

BTW, did you stash simple DEBUG and FORCEDEBUG away in favor of DEBUGMW?

[2017-02-17 15:44] macfly1202 commented on #327
(@ShikOfTheRa :fyi there a new version of innova (v2) with different layout pcb but seems to have same features. Don't know if Banggood clone is v1 or v2 but must be v1. Most of seller have v1 like picture on https://www.unmannedtechshop.co.uk/innova-osd-vtx-board/   (v1 : oscillator is parallele to pcb side and v2 oscillator is @45 degree of pcb side))

[2017-02-17 16:47] HenryIvarsson commented on #327
@macfly1202 good idea, I also pitched in. @ShikOfTheRa I have the BG clone, it's v1 for sure. V2 takes lipo voltage but is sold out until end of march on Furious site, that's why I got the clone in the first place. I might now where to find them in stock, just confirming they are v 2 first. I will sound off when I know.

[2017-02-17 19:18] jflyper commented on #327
Does anybody have a user manual for Helix VTX, or pointer to it?

I suspect it handles stick commands that is compatible with SINGULARITY...

[2017-02-17 19:37] jflyper commented on #327
Okay, Helix should be working with #382 (PR to VTX branch).

Call it a day 😫  Bed time!!! 😴

[2017-02-18 07:09] jflyper commented on #327
@all Do Innova has any LED onboard, except for power indicator LED?

[2017-02-18 08:54] ShikOfTheRa commented on #327
there are 2 onboard not sure if one is power.

[2017-02-18 08:55] ShikOfTheRa commented on #327
Starting build of mine tomorrow. Not got some of the kit yet. But should be enough to test

[2017-02-18 09:20] macfly1202 commented on #327
On geniune furious v1 there is only 1 led (green) always on when powered. (Linked to 3.3 ? voltage reg as it seems)
![img_6824](https://cloud.githubusercontent.com/assets/6387630/23092089/ce047ebc-f5c3-11e6-8639-52f7b80ae77c.JPG)

[2017-02-18 10:04] jflyper commented on #327
@macfly1202 Thanks!

[2017-02-18 10:09] jflyper commented on #327
Innova support is ready for alpha testing.

https://github.com/jflyper/scarab-osd/tree/vtx-mods-for-innova

[2017-02-18 11:01] macfly1202 commented on #327
@jflyper I will in the afternoon - need to play with my little baby first. Thanks a lot.

[2017-02-18 11:03] macfly1202 commented on #327
@jflyper : is Vtx power still adjustable or not ? I ever find vtx is a boiler. I will test power output with my RF explorer spectrum analyser if I find an ufl to sma on my shelve...

[2017-02-18 11:16] jflyper commented on #327
@macfly1202 Well, actually, the power adjustment wasn't tested (as stated in PR) 😩

I'll look into it.

[2017-02-18 12:46] macfly1202 commented on #327
@jflyper : like I said previoulsy, I have got the hardware necessary to test it (RF Explorer 6G ) so I will test the power and frequency allocation just in case and make feedback before end of Weekend.

[2017-02-18 13:10] jflyper commented on #327
@macfly1202 Thanks, I really appreciate it 👍

[2017-02-18 13:48] macfly1202 commented on #327
@jflyper  : I try to complile it under arduino 1.0.6, 167,  169. Compilation error.
`In file included from MW_OSD.ino:90:
Def.h:545:1: warning: "MENU_VTX" redefined
Def.h:62:1: warning: this is the location of the previous definition
In file included from RTC6705.ino:3:
wireMacro.h:2:1: warning: "ATOMIC_BLOCK" redefined
In file included from MW_OSD.ino:88:
/private/var/folders/4p/t65kmy8j0dz98jw2_

[2017-02-18 13:51] jflyper commented on #327
@macfly1202 Can you try with 1.6.12?

[2017-02-18 13:54] macfly1202 commented on #327
@jflyper it s what I'm just doing now ! It seems to be ok. I will post feedback soon.

[2017-02-18 14:57] Rclf commented on #327
Does anyone know if it's possible to burn the bootloader to the innova ?  I keep getting failed to talk to the bootloader it is like it's bricked but I still can see the osd in mwosd configurator, but no video.

[2017-02-18 15:15] macfly1202 commented on #327
@jflyper :arduino 1612 say "upgrade" finished (but take age in comparaison of master branch). At innova vtx startup still write "MW-OSD - R1.6". according to source code it must be "MW-OSD - R1.6.8" if I understand well. I think something fail and innova isn't flashed as I initially think. I will try under PC later (beurk) or linux. This test was on mac.

[2017-02-18 21:17] HenryIvarsson commented on #327
Trying to test on my Innova; on my mac, using Betaflight passthru as my Innova clone is soldered in deep, got a promising "Done Uploading" from Arduino 1.6.12. Did no changes in config.h as Innova was defined as default. Uploaded digital.mcm in the Chrome app from @jpflyers Innova branch. My old config from the latest regular mwosd was still there so no other changes in the web app. Booted the Hed

[2017-02-19 01:50] jflyper commented on #327
@HenryIvarsson It should be between "ADVANCED TUNE" and "STATISTICS".

[2017-02-19 03:47] jflyper commented on #327
@Rclf From pics of Innova on the net (which are mostly of the non-RF module side), I can't find any ICSP pads. It must be on the RF module side. Can you find any unoccupied pads?

[2017-02-19 04:06] jflyper commented on #327
@all The up to date branch is at
https://github.com/jflyper/scarab-osd/tree/vtx-fix-bad-power-writes

[2017-02-19 16:27] macfly1202 commented on #327
@jflyper:  I tested all standard process with dtr solder blob and genuine ftdi or cp2102. I even made some short to reset pin directly. Something is bad in design of genuine innova or my board has some problem. I want to add I'm not a noob on flashing firmware on atmel and stm.
Finally, bored to try all standard I decided to use an AVR on 328p directly. I compiled with arduino 1.6.12 and get the h

[2017-02-19 17:00] jflyper commented on #327
@macfly1202 Wow! So you actually broken out the ICSP signals!

And thanks for testing!

[2017-02-19 17:15] macfly1202 commented on #327
@jflyper : what do you mean by "broken out ISCP signal line"? I'm not understanding. Arduino said burning was ok with ftdi but it was not the case. Another user reported here some similar situation. I'm use to meet tricky bootloader and always find solution. I'm nearly sure the banggood clone is ok with bootloader contrary to genuine one.

I test the initial commit. See after there was a new relea

[2017-02-19 17:20] jflyper commented on #327
@macfly1202 Ah, "to break out" is to attach a lead or trace to a chip, and I was kinda surprised that Innova does not have ICSP pads (as predicted in my previous [comment](https://github.com/ShikOfTheRa/scarab-osd/issues/327#issuecomment-280893842)).

And what I wanted to say is "Great micro soldering work!" :)

[2017-02-19 18:37] macfly1202 commented on #327
Ahh ok ! I'm a DIYer lol. Here more info could help some people. For brave people who want to burn with usbasp: it's very difficult soldering and must have good iron, not overheating (max max  300degree for 5-6 sec):
Mosi is physical pin15 on atmel 328p, 2nd horizontal left from bottom right linked to max7456  6th "pin" (miso) from bottom side left. (Solder/connect usbasp mosi here)
Miso is physic

[2017-02-19 19:09] jflyper commented on #327
@macfly1202 Did you burn an arduino bootloader, or sketch hex?

[2017-02-19 19:15] macfly1202 commented on #327
@jflyper : I simply burn the sketch hex found in compile folder, display in arduino with verbose mode (there is 2 hex one with bootloader in his name, the other I choose without bootloader in his name)

[2017-02-19 23:14] macfly1202 commented on #327
video from dvr test of Innova firmware alpha release : https://youtu.be/18YE5cQseE0 with a crappy youtube song like we love so much (lol!) instead of hmdvr chaos noise.

[2017-02-19 23:39] HenryIvarsson commented on #327
Nice video! I got it to flash, had to solder in leads to external serial adapter to get dtr and cut 5v pin back feeding voltage to piko as a booted piko made chaos with my flashing. Got the vtx menu, very nice. However, changing to E4, typically puts me on 5645, similar to my 9 other quads. Setting to e4 here took me to 5805ish and one hour spent trying other band and channel combos couldn't even

[2017-02-20 03:42] jflyper commented on #327
@macfly1202 Nice vid! You tested the transition into BF CMS, too! :)

@HenryIvarsson Let me take a look at the frequency table.

[2017-02-20 04:29] jflyper commented on #327
I want some review on this write up.

Innova flashing tips
(1) Disconnect from FC or power it down while flashing.
FC's serial signal interferes with external serial adapter used for flashing.

(2) Make sure DTR is correctly connected.
Innova V1: Break out the DTR pad.
Innova V2: DTR-LEDstrip solder jumper to open. De-install if jumped.

- DTR is used to put the Innova into bootloader mode.
- On F

[2017-02-20 06:02] HenryIvarsson commented on #327
Thank you @jpflyer will try the latest tonight. Write up looks good, spelling out that flashing thru betafligt will not work due to missing dtr connection might make sense.

[2017-02-20 06:49] macfly1202 commented on #327
@jflyper: I tested the 2 process for flashing.
1/ thru betaflight with solder blob on dtr pin
2/ with cp2102 and genuine FTDI 5v, 3.3v on TTL lines,  with DTR/RST plugged line with solder blob
3/ same direct wire between DTR wire and RST physical pin of atmel (the red wire on my photos)
--> no method above has been sucessful. Fitmware is flahed with arduino (anormally long time) but it seems eepro

[2017-02-20 08:16] jflyper commented on #327
@macfly1202 People's experience suggest that there are apparently ones with bootloader and ones without?

[2017-02-20 10:08] macfly1202 commented on #327
@jflyper : I will test to burn bootloader Friday - I think you are true: it must be the explanation of not successful burning - can't test that before because away fom home.
Does people with innova clone from Banggood have succesfully change firmware ? (I read somewhere its was the case - sometimes clones are better the genuine...lol)

[2017-02-20 10:15] HenryIvarsson commented on #327
@macfly1202 I could flash my BG clone with cp2102 serial adapter, remains to be seen what my channel map looks like. I do have a blob on the dtr pad enabling flashing, do you know if I should be able to flash thru BetaFlight also? If so I might wanna try that again. That would be super convenient.

[2017-02-20 10:51] ShikOfTheRa commented on #379
i think can be closed - re-open if necessary.

As fyi, i will add more modes in soon.

[2017-02-20 10:51] #379 closed

[2017-02-20 10:52] #372 closed

[2017-02-20 11:59] triolus commented on #377
Yes. I do not know if the FRSKY xjt is set up to just transmit proper fsky telemetry data or if it is only designed for their own monitor. I made a small error and will retest;I was having the OSD transmit go back to the XJT. It gives an option for which hookup: uart or frsky, and will test the uart option without transmitting back.

[2017-02-20 12:01] macfly1202 commented on #327
@HenryIvarsson : si it's confirm what I already read somewhere > Innova clone from BG have bootloader in contrary to some genuine Innova from furious like mine.
For your question with serialpassthrough, honestly I don't know but DTR of innova must be mapped to DTR of piko or other FC. Don't know if DTR used with VCP driver. I don't know which PIN LedStrip is mapped and if used with serialpassthrou

[2017-02-20 14:54] jflyper commented on #327
If the VCP driver on FC side can be modded to handle DTR signal transitions, it can be translated to GPIO high/low by adding a new feature, may be by resource mapping, e.g.: "resource dtrpassthrough a08".

[2017-02-20 15:57] jflyper commented on #327
Updated the above writeup.

BTW, I found a couple of suspicious artifacts in the pic.
![b1f4f0fd-d07d-4d97-a249-383c065d1fcb](https://cloud.githubusercontent.com/assets/14850998/23132362/b1b26774-f7d0-11e6-9e58-f34aa2cd5ac0.jpg)

[2017-02-20 16:01] macfly1202 commented on #327
@jflyper: I didn't have the board with me but think it's hot glue blob.

[2017-02-20 16:12] jflyper commented on #327
@macfly1202 Ack!

[2017-02-20 20:17] macfly1202 commented on #327
@jflyper : just want to correct you excellent Tuto : the green wire is RST/DTR and not ground. The tiny red wire is a bypass off resistor and condensator to directly connect to RST physical pin of atmel 328p.
![img_7002](https://cloud.githubusercontent.com/assets/6387630/23140427/de0548e2-f7b1-11e6-92eb-53b24135911c.PNG)

[2017-02-21 01:17] jflyper commented on #327
@macfly1202 Oh! Is bypass wire required?

[2017-02-21 11:49] macfly1202 commented on #327
@jflyper : not sure but always prefer direct connect with RST for ftdi/usbasp. I made this before doing it with usbasp.

[2017-02-22 22:10] HenryIvarsson commented on #321
![img_0013](https://cloud.githubusercontent.com/assets/25687839/23234929/03fec2fa-f954-11e6-9baf-4a06bbd62d07.jpg)
FYI

[2017-02-22 22:11] HenryIvarsson commented on #321
I was curios if this is MWosd, I asked about the source and he could not provide it

[2017-02-23 00:45] jflyper commented on #321
IIRC, it's full MWOSD. May have some defaults moved.

[2017-02-23 03:08] EvgMe opened #387 "Sidebars scrolling another direction"
Sidebars must scroll as real HUD: When value increase, sidebar must scroll down. And when value decrease, sidebar must  scroll up.

[2017-02-23 11:54] jflyper commented on #327
@macfly1202 Pic in the how-to has been corrected.

I believe that the bypass is required for ASP case in which direct access to MCU RESET is required.

[2017-02-23 12:25] macfly1202 commented on #327
@jflyper: thanks it was what I believe. I will test bootloader burn tonight to see if after that ftdi firmware upgrade work.

[2017-02-23 19:34] macfly1202 commented on #327
@jflyper : so I'm ready to make more test. Where is the last up-to-date branch ? here or on you github ?

[2017-02-23 23:29] jflyper commented on #327
@macfly1202 It's all on the VTX branch now! :)

[2017-02-24 09:30] macfly1202 commented on #327
@jflyper I've some preliminary test with VTX branch. I simply uncomment FFPV_INNOVA in Config.h. Don't know if there is anothers param to change for Innova.
1/ about burning bootloader : I didn't succesfully achieve it for now. Will do some attempt this WE
2/ about firmware : there is in issue in power mode. Innova is always in 200mW (223mW on 5760) despite validating in OSD the 25mW. I made many

[2017-02-24 09:46] Rclf commented on #327
it seems the innova is discontinued , no longer on the site.

[2017-02-24 09:54] jflyper commented on #327
@macfly1202 I will look into the power control code again. And yes, we can have band/chan/freq/power displayed on the opening screen; I will add that as well once I get back to my bench (which is 8,000km away now).

@Rclf WTH!? Hmm... it's gone :thinking:

[2017-02-24 09:59] macfly1202 commented on #327
@Rclf : It could be a bug on their website update because Innova v2 has been on pre-order. It will be strange to cancel order. Innova v1 is stopped for sure. There is still the BG clone in all the case.
@jflyper : thanks ! nice travel...

[2017-02-24 10:05] Rclf commented on #327
@macfly1202 I just received a v2 two hours ago as a replacement for the faulty v1, its strange indeed.

[2017-02-24 11:09] ShikOfTheRa commented on #387
I don;t think anyone has noticed before. Maybe no real just pilots fly FPV!
For both speed and altitude?
I can easily add a choice.

[2017-02-24 11:42] jflyper commented on #327
@macfly1202 If you have time, can you try this branch?
https://github.com/jflyper/scarab-osd/tree/vtx-mod-20170224

It has DEBUG defined, and should display 4 debug variables, band, channel and power from the top (last one is unused).

And if you disable the DEBUG (Def.h), you might see the information about vtx on the opening screen.

[2017-02-24 13:34] EvgMe commented on #387
Yes, both spead and altitude. For example it's shows for mission planner: https://www.youtube.com/watch?v=XCSgy9_XFKo. Or B737-800 https://www.youtube.com/watch?v=IO_LJd-iO9o
 The choice is a good idea.

[2017-02-24 13:48] ShikOfTheRa commented on #387
OK - will implement choice option..

In future release I hope to try some live font changes to create an effect similar to the hud on the video. Its difficult with current hardware and impelmentations.

I guess you are using APM? How do you find it. I don't think many use MWOSD with APM/PIXHAWK.

[2017-02-24 13:49] ShikOfTheRa commented on #387
Should be next next week... Very simple change

[2017-02-24 14:05] macfly1202 commented on #387
there a good implentation of this hud in playuav osd. I made some test in the past and working great (but it was a stm32F1) with a pixfalcon (stm32f4). Here an example https://youtu.be/K_rhIYWg0L0 or https://youtu.be/J-fHLHofqTc
. The last active fork of playuav is here : https://github.com/TobiasBales/PlayuavOSD

[2017-02-24 14:40] macfly1202 commented on #327
@jflyper : I made a quick short test and unfortunately, output power doesn't seem to change. Here what I saw with new firmware upgrade of this day: https://youtu.be/rlelOl6lG7U

[2017-02-27 10:21] ShikOfTheRa commented on #381
@dronek - I am going to close this ticket for now to keep the issue list clean.
It is on the wishlist for next release. Too late for this next one.
Wake it up once iNav has  a version released where airspeed is available as an fyi.

[2017-02-27 10:21] #381 closed

[2017-02-27 10:51] ShikOfTheRa commented on #387
Closed / done

I have amended and uploaded. Its first request for change and the scrolling is eyecandy so decided not to make it a choice. It is fixed in correct direction now.

I am working on an stm based OSD for myself that isn't limited by the max graphics. I try to do in color but its a lot more difficult with timing and don't have the time anymore so will stay with black/white
I forgot about

[2017-02-27 10:51] #387 closed

[2017-02-27 10:53] ShikOfTheRa commented on #351
I'm struggling to replicate - its working OK for me. I have no way forward with this...
I think if can go direct and prove it works OK to raise with teh configurator guys for whichever FC you are using

[2017-02-27 10:55] ShikOfTheRa commented on #377
I am closing this to keep the outstanding issues list clean.
It is captured on the list of requests should anyone want to pick this up.
I did some googling and there do appear to be some other OSD options out there for you.

[2017-02-27 10:55] #377 closed

[2017-02-28 21:26] macfly1202 commented on #327
@jflyper: I test this last version and power seems to be ok now. Great thanks=> Power of vtx is changing from 25mW to 200mW. I made a custom uFl to SMA and it's probably why my measure on 5740 or 5865 oscilating a lot. I need to make another test with floor noise but I found far more than 200mW (320mW but not stable due to overheating of the unit/ Low power was approx from 5mW to 30mW for same rea

[2017-03-01 10:07] jflyper commented on #327
@macfly1202

Okay, so the logic is fine.

There are magic numbers for what's so called "_Pre-driver and PA Control Register_". The current value is taken directly from FFPV's original source code. However, there are other values in other implementations such as SIRINFPV, which claims same 200mW output (probably) using the same FX758-2 unit. I will probably mod the current source for the investigat

[2017-03-01 22:26] OUFanInCo commented on #327
-----------------
Apparently, it has been discontinued. I can order one from other sources, but I need to know the V2 design corrected most of their issues? They won't say.

Sales at FuriousFPV agrees with this:

---------------------------

----------------------------------------------------------------------------------------

------------------------------------------------
I requested more cl

[2017-03-01 23:07] OUFanInCo commented on #327
PS - Furious FPV might be tied up in the following issue and not have time to respond to other things at this point:
[https://www.rcgroups.com/forums/showthread.php?2839452-Furious-True-D-V3-Diversity-Receiver-System-Kills-Fat-Shark-HD-Dominators](url)

[2017-03-02 13:19] ShikOfTheRa commented on #327
Oh that's crap scenario. I guess similar products will have same issue.

Got to feel for Fatshark - Guys loading them up their products higher that original design intent. Also to Furious - great product. Probably did loads of testing an no issues... assumed fatsharks would be able to source power.
Sort of thing you wouldn't really think about until someone figured it out later down the road.
Fats

[2017-03-03 13:25] csurf opened #388 "incorrect max distance in summary"
I just had a flight with most recent version from repo, and discovered that the 'max distance' value displyed in the flight summary was way off. I had a flight with a max distance of 4.2km/4225m, and the summary page showed a value of '2359.2' (also seems strange that it's shown as a float value). All of the other values on the summary screen looked ok, but the max distance was definitely off by a

[2017-03-03 17:30] ShikOfTheRa commented on #388
Just tried on a simulator - got 12.9 total distance with 4.465 meters max distance - displays OK.

max distance is the highest value it thinks it has received from the FC.
with fixedwing, if it sees >9999m it reports in km. So thats 2359.km away. A new FPV record!!!
FC sends this as an actual value. Its not calculated by MWOSD.
So could be something received from the FC or MWOSD itself.
Most likel

[2017-03-03 17:42] ShikOfTheRa commented on #388
Tested and uploaded... Should stop any crazy values.

[2017-03-03 17:48] macfly1202 commented on #388
I would like to add (but never tested mwosd with fixed wing but only ardupilot) only take value from gps if there is a 3D/DGPS fix OR hdop < 10meters for example ...all clever autopilot use this kind of triger....

[2017-03-03 22:36] csurf commented on #388
@ShikOfTheRa
ok, will try to test today.
If it was due to a random glitch, will be hard to know if it really went away. However, your theory makes sense, so hopefully the glitch filter will take care of it. FYI, this is with latest iNav 1.6.

[2017-03-04 18:22] fape opened #389 "FC_VOLTAGE_CONFIG vs BETAFLIGHT"
Is there any reason why FC_VOLTAGE_CONFIG is not usable with BETAFLIGHT? Only for CLEANFLIGHT and BASEFLIGHT (see: [Def.h](https://github.com/ShikOfTheRa/scarab-osd/blob/6f3156f4083d17595e35bf4555df8d34ad5cb9f5/MW_OSD/Def.h#L509), [Serial.ino](https://github.com/ShikOfTheRa/scarab-osd/blob/44dfbd13ce4bf3a552838979c7ce6fb803389ed6/MW_OSD/Serial.ino#L546))
As far as is see the relevant part of the m

[2017-03-05 08:45] csurf opened #391 "move GUI code to separate repo"
I realize that the old GUI is kinda junky & overloaded, and will probably soon be replaced by the chrome app. However, in the meantime, how about sending it to its own, separate repo?

It would make it much easier to work with the GUI code, and would also make it easier & quicker for users to clone the the MWOSD repo (wouldn't have to deal with a massive download due to GUI stuff).

Also, it would

[2017-03-05 11:02] ShikOfTheRa commented on #389
No reason. I think it was added before betaflight became popular. Never used myself. Feel free so Submit or I'll do next week when get bavk

[2017-03-05 11:04] ShikOfTheRa commented on #391
Agree. Was heading that way soon. Now is as good a time as any. I want to repackage 1.6 with new gui as well.
Will do this week

[2017-03-06 10:12] sppnk opened #393 "Allow MSP sending voltage and amps to FC"
As MWOSD can take variables from FC like RSSI and others, why dont allow the reverse thing? Could be done? (of  course FC should to be able to take them).

This is because in many setups the volts and amps are only in the OSD, but sometimes we fly the same airplanes w/o vtx, third view, and would be nice the FC to have this (for telemetry at least).

I will open the same request in INAV repo.

Wha

[2017-03-06 15:19] ShikOfTheRa commented on #391
It is done:

https://github.com/ShikOfTheRa/scarab-osd-gui

I think its at end of its life.
I'm not planning to keep it in updated anymore. Haven't used it for some months now.

[2017-03-06 15:24] #389 closed

[2017-03-06 15:26] #391 closed

[2017-03-06 15:36] ShikOfTheRa commented on #388
@cssurf - I did some testing. With a continuous big glitch is took 15 secs and many updates to catch up the glitch distance. So his looks like it works.

@macfly1202 - in this the data comes from the FC as trusted. Due to amount of memory available there, data validation and menu configurable limits have very little data validation. All problematic ones done a long time ago. Also hdop not normally

[2017-03-06 15:36] ShikOfTheRa commented on #388
CLosing for now. Feel free to continuing comments - or re-open if required

[2017-03-06 15:38] ShikOfTheRa commented on #393
Can be done - if can convince iNAv guys.
Think it will be low on their list as could connect direct to the FC in most cases?

[2017-03-06 15:42] ShikOfTheRa commented on #327
Kudos to Furious in how they are handling this... I just saw their response....

[2017-03-07 08:30] ShikOfTheRa commented on #351
@sniperxnl
Would be interested to see if the new GUI works for you. It has some adaptive transmission config designed to work with programming through a flight controller. It might be completely unrelated to your issues but is worth a try:

https://github.com/ShikOfTheRa/scarab-osd/tree/master/MW_OSD_GUI

[2017-03-08 07:43] csurf commented on #388
@ShikOfTheRa,
ok, so I had two flights today, both over 4km, ran into the issue again. I got the same max distance value of '2359.2' at the end of each flight.

Could this possibly an iNav issue? Where exactly does the max distance value come from? I don't know how else to test this.

I can post a video of one of my flights if it'll help, but there's not much going on, just a long, boring fixed-wi

[2017-03-08 08:20] ShikOfTheRa commented on #388
Yeah that's weird. If you can post the vid I'll take a look. Not boring to me - sad that it is I do watch vid's on YT with MWOSD in them!

No idea on the cause - haven't been able to replicate. If can't see any hint on the vid,might have to give you a build with a couple of debug values. to see if its mwosd or soemthing coming from inav. I have used patrike witha wing over those distances but not

[2017-03-08 09:00] csurf commented on #388
@ShikOfTheRa,
ok, here's the vid.
https://www.youtube.com/watch?v=FnKWpLFPoJE
please let me know if you need anything else... I really would like to get this fixed (trying to set some personal distance records on a couple of planes, and it helps to have the 'max dist' logged correctly )

[2017-03-08 09:40] csurf commented on #388
@ShikOfTheRa,
FYI, forgot to mention that I have long-range display mode enabled (I have a feeling that the bug may have to do with that). I'm going to disable it, re-flash, and see if it happens again tomorrow. Will report back. Lemme know if u find anything else...

[2017-03-08 12:33] ShikOfTheRa commented on #388
It should auto enable for fixed wing.
Nice to see the vid... Can't see anything obvious in it ...

Uploaded a version which has this -
/********************  RECORD CAPTURE  settings      *********************/
//#define SHOW_MAX_DISTANCE              // Enable to display MAX distance achieved on line below current distance

Lets see live how and when it displays a weird number.
I have also made s

[2017-03-08 20:20] Fluburtur opened #396 "Cannot connect GUI to SPRF3 with integrated OSD"
I have a SPR F3 board from banggood, I tried to flash the latest version of MWOSD onto it and succeeded (but didn't find "Inav" in the options so I had to select cleanflight).
The flashing succeeded but I can't connect to the board using the GUI on windows 7 64 bits.

[2017-03-09 03:29] csurf commented on #388
@ShikOfTheRa,
ok, i took a couple of test flights today. After reviewing the DVR vids, I found that the problem happens at startup (perhaps when home position gets set?). The first flight displayed the problem, the second flight didn't. The first flight showed '2359.2' from the point when I started recording. Home was already set & it was prior to arming the plane. The 'max distance' display showe

[2017-03-09 05:42] csurf commented on #388
@ShikOfTheRa,
ok, bench tested but couldn't reproduce yet.

I guess perhaps iNav is sending some junk distance data before it gets a good 3D GPS lock? One option could be to reset the distance on first arm?

also noticed there's a lot of sign/type changes for the distance values (uint16, uint32, int32). Not sure if that might be causing some issues somewhere if it gets out-of-range data somehow...

[2017-03-09 06:50] csurf commented on #388
@ShikOfTheRa,
ok, think I figured out how to reproduce it, and it seems like a pretty nasty bug.

I modified the code to print both the raw distanceMAX value (uisng the itoa() function) & and the formatted value that's returned from the formatDistance() function.

  #if defined SHOW_MAX_DISTANCE
    formatDistance(distanceMAX,1,2);
    MAX7456_WriteString(screenBuffer,LINE01+2);//getPosition(GPS_d

[2017-03-09 07:33] csurf commented on #388
ok, found the source of the bug, but not the exact code.
It's caused by the AHI function, displayHorizon()
I disabled the code in that function by return immediately from it, and the distance bug goes away. Enabling the AHI code causes the bug to return.

I also tried disabling the pitch & roll code, thinking maybe this was the cause, but the bug was still there, so it's further down in the AHI co

[2017-03-09 08:26] csurf commented on #388
@ShikOfTheRa
think I found it, the HB elevation code...
Can you take a look at it? it must be overflowing or something...

[2017-03-09 09:16] ShikOfTheRa commented on #396
Try this one:
https://github.com/ShikOfTheRa/scarab-osd/tree/master/MW_OSD_GUI

[2017-03-09 09:17] ShikOfTheRa commented on #388
Awesome. I will check it out today.... Thank you for all the testing. Being able to replicate and narrow it down really helps...

[2017-03-09 10:28] ShikOfTheRa commented on #388
OK - I think with sidebars enabled the screen array is overflowing. There are no checks for this.
Added some in... Can you try?
Also added in the #define SHOW_MAX_DISTANCE into config.h I got dropped in my upload

I couldn't replicate - possibly down to different compiler / options enabled, but definitely an issue...

[2017-03-09 11:42] csurf commented on #388
@ShikOfTheRa
ok, the bounds checking was the problem...
I ended up doing the following:
[code]
that'll save us a couple of extra redundant calculations. Is that cool?
Anyway, problem appears to be fixed, will flight test tomorrow if possible & post back...

[2017-03-09 11:55] csurf commented on #388
side-note:
I think the horizon/AHI stuff needs somewhat of an overhaul. It should be able to work with the plane inverted (maybe with some kind of indicator showing that its upside-down/rolled over 180 degrees).

Also, after applying the patch, I briefly saw the altitude glitch to that same '2359' value, before going back to zero. I tried to reproduce it, but haven't been able to. Hopefully it won

[2017-03-09 12:28] ShikOfTheRa commented on #388
Yeah there is some significant opportunity to improve and reduce memory. Its grown somewhat in pieces over time. Just having time to do it properly... Maybe next release will concentrate on code improvements. Most of all I want to reduce memory, more items to GUI and flash from GUI

Code suggestion looks good.
Also needs also to be in normal elevation part and full ahi because someone may put high

[2017-03-09 18:03] Fluburtur commented on #396
It worked, thank you very much!

[2017-03-09 19:31] #396 closed

[2017-03-09 19:40] jcutcher01 opened #397 "Betaflight OSD Menu From Transmitter"
When powered on and bound, I yaw left pitch forward and the OSD menu does not appear. The motors beep twice like when the FC resets. When I go into the configurator using the chrome app, I see my PID profile changed from #1 to #2.

Now I was not center throttle so I can try that later when I get home. Someone also mentioned try yaw right.

I am running the Flip32 F4 Ominbus for the first time and

[2017-03-10 00:33] #397 closed

[2017-03-10 08:54] ShikOfTheRa commented on #388
Back in the office today so can have a proper look and bit more time to respond.

If you use your method, you'll also have to do this or some variant to avoid overflow:
        uint16_t pos = position -9 + LINE*(Y/9) + 3 - 4*LINE + X;
        if ( pos >0 &&  pos < 480) // add thsi check
          screen[pos] = SYM_AH_BAR9_0+(Y%9);

Also, using a uint instead of int has advantage of only having to

[2017-03-12 12:47] alvarofrank opened #398 "Closed source releases"
After Joshua Bardwell's video about GPL, I am wondering if OSDs like the FuriousFPV Passado OSD VTX are violating the MWOSD license.
They provide a binary preflashed for the Passado OSD without the source code.
Upon request they refuse to provide the source:

I will try to bring this to their attention again and perhaps get the source, since I would like my purchased hardware to use the newest ver

[2017-03-12 14:50] flounderscore commented on #321
I'd like to correct my previous statement: Arduino thought it had programmed the PiggyOSD successfully (after an awful long time), but it required me to remove C8 to really get it to work.

[2017-03-12 23:06] DieHertz commented on #398
If they use MSP, they clearly violate GPL.

[2017-03-13 00:35] digitalentity commented on #398
@DieHertz technically they can re-implement MSP from specs. GPL only protects implementation (code), not specs. However it seems more likely that they simply took the code.

[2017-03-13 09:00] ShikOfTheRa commented on #398
Agh - these guys make some great stuff but its like pulling teeth getting the software.
@alvarofrank can you request that they release it under the GPL terms associated. Advise them it is a legal (and moral) obligation.

My company makes more from copyright litigation than its products. Its unfortunate, but it is now considered a business revenue stream....
They would be wise to comply because a n

[2017-03-13 09:53] alvarofrank commented on #398
Thanks for the feedback, I am just confused, because the software is literally a modified 1.6 version. Regardless of MSP, MW/Scarab OSD should force their custom version under GPL right?
I send another message last week and am waiting for reply.
The problem is that currently the OSD resets randomly to unusable default settings.

[2017-03-13 11:11] ShikOfTheRa commented on #398
I believe it is standard 1.6 too.

I will enforce GPL- give them an opportunity to produce first. They did for the Innova and Piggy - Eventually!

But note there is no support for it under normal MWOSD. There is a VTX development branch  which hopefully be integrated at some point.

[2017-03-13 22:09] csurf commented on #388
@ShikOfTheRa
- ok, point taken on the 1st test.
For clarity, we could probably just do a constrain() right off the bat, combining the math ops into a more compact form...
[code]
cool?

- Good point on using the uint & avoid the 'less than zero' test.
In any case, we'd still need to do ' p < 480'  twice, once for each operation, but it'll work fine...
[code]

how does all of this look to you?

FYI,

[2017-03-13 22:23] csurf opened #400 "make AHI work for inverted flight"
I've got the following fix in order to get the AHI to correctly show when the aircraft is inverted...
in screen.ino, displayHorizon() function:
[code]

This seems to work fine. The only problem is that it fools the subsequent code into thinking that the plane is upright. Ideally, you'd want to adjust the AHI to somehow indicate that the plane is upside down.

I can't recall where, but I remember s

[2017-03-14 12:03] ShikOfTheRa commented on #388
For this, remember the constrain needs to be later. Because could add at later stage.

An alternative would be a small function like below. Also saves 20 bytes of memory.

void constrainedScreen(uint16_t pos, uint16_t Y) {
  if (pos<480)
    screen[pos] = SYM_AH_BAR9_0+(Y%9);
}

and:
    for(uint8_t X=0; X<=12; X++) {
      if (X==6) X=7;
      int Y = (rollAngle * (4-X)) / 64;
      Y -= pitchAng

[2017-03-14 12:13] ShikOfTheRa commented on #400
Cool. TBH, if I'm upside down I aint looking at the AHI - I'm usually crashing or enjoying the view!!! Love doing that in my funjet.

It would be good if can manipulate it to work correctly.
Do need an indicator? I don't recall ever needing an AHI to tell me I'm upside down. Memory is tight and prepared to give up bits that make it perfect. Or add it as a #define option for those that want it.

[2017-03-14 14:05] Saxin commented on #232
Sorry to revive this from the dead...

Which design are more robust to voltage spikes ?
(I've killed two minium osd in two days, powered thru the FC serial port connection.... or maybe this is the issue, I have UBECS on my PDB one supply 5v and another at 9v. )

[2017-03-14 14:20] macfly1202 commented on #232
@Saxin : I've burn 1 micro OSD with battery monitoring port despite voltage divider integrated to the board. I was far from max voltage of voltage divider of micro osd (was runnig on 3s) On other side, I initially started with original 3DR minimosd wich is far better on image quality/stabily with overheating. Side to side comparison with micro OSD show artefact in image if temperature is to high -

[2017-03-14 14:26] Saxin commented on #232
@macfly1202  ... and you feed it Bat. voltage ?

[2017-03-14 14:27] ShikOfTheRa commented on #232
I have used a lot od OSD's but must admit I have not had any burn out apart from my fault when connecting.

I have had these made which are very resilient due to design....
They can be use din place of normal minimosd
https://www.virtualpilot.co.uk/index.php?route=product/product&product_id=51

[2017-03-14 14:30] Saxin commented on #232
Does the airbot osd compatible with MWOSD ?

[2017-03-14 14:31] macfly1202 commented on #232
@saxin : only issue with micro OSD and abttery monitoring. you could make an external voltge divider with high quality resistor and unsolder + shunt mini resistor. If you are no limited to space, I suggest to get the normal original design size like one of ShitoftheRa suggested. There are all compatible to MWOSD has far as I know.

[2017-03-14 14:34] Saxin commented on #232
I'm not using any sensor on MinimOSD all is fed from FC, I have bat connected to FC + current sensor on PDD.

[2017-03-14 14:56] macfly1202 commented on #232
which 5V are you using on micro ? the one between Rx Tx and Gnd Or the main entrance 5V - the bigger pad ? (I'm always using the big one - the tiny next to Rx only for Flashing firmware.
![capture d ecran_2017-03-14_15-53-54](https://cloud.githubusercontent.com/assets/6387630/23906558/a4f7095e-08ce-11e7-9191-2859be207e22.png)

[2017-03-14 15:08] Saxin commented on #232
I'm wired exactly as shown + gnd from cam and VTX to OSD.....
(I'm like so also on my two big copters on Ardupilot without any issues, but that is another story I guess)

[2017-03-14 15:41] ShikOfTheRa commented on #232
Best wiring model is as follows.

Avoids ground loops and differing potentials
Running grounds and supplies between/through components is not optimal
Not always required...
Also add LC filters in appropriate places
Its mode hassle. I don't always do it...
![image](https://cloud.githubusercontent.com/assets/11336532/23908641/7db43896-08cc-11e7-9062-64e4e85a95e3.png)

[2017-03-14 15:45] Saxin commented on #232
The scheme above you mean ?

[2017-03-14 15:49] Saxin commented on #232
I see now , thanks.
Still not clear regarding the VIN , and pads on the micro .... I was sure they are same pads maybe they aren't and there is some filtering after the main pads ?

[2017-03-14 15:59] ShikOfTheRa commented on #232
Vbat1 and vbat2 are the only pads that should have greater than 5v applied.

Vin = video in
Vout = video out

[2017-03-14 16:27] Saxin commented on #232
No no ....

Sorry I ask regarding the voltage in , big pads on the right or pads near Rx/tx ?

I don't have any other sensors connected to micro , only video side and Tx / rx

[2017-03-16 14:21] slopeinsb commented on #327
After hitting 'default' in MWOSD which appears to disable VTX - and then attempting https://www.youtube.com/watch?v=U_-RPSC91CU I got a "failed to talk to bootloader" error.

Is there any hope without having to do the micro soldering in order to flash these?

[2017-03-16 15:07] ShikOfTheRa commented on #327
That in the video isn't mwosd...

You should talk to furiousFPV for any support of Innova as its a custom build they have created. There is currently no official MWOSD support for it

[2017-03-16 23:37] slopeinsb commented on #327
Understood - I used MWOSD without knowing the board wasn't supported - it 'appeared' to be - and then while tracking down the issue I ended up here, and saw others had done the same.

[2017-03-19 00:24] isabido opened #401 "R1.7 not conecting GUI in mode Standalone-OSD."
Hi guys, I'm using version 1.7, to use standalone OSD with GPS.

I followed this guide:
Http://intofpv.com/t-osd-standalone-gps

If I enable the option "#define GPSOSD_UBLOX" I can not then access it with the GUI for its configuration.

Any suggestions?

Thank you!

[2017-03-19 19:03] ShikOfTheRa commented on #401
1 - are you using same baudrate on OSD and GUI
2 - GPS must be disconnected when connecting to GUI

[2017-03-19 19:19] isabido commented on #401
1- Yes, the baudrate is the same in the GUI.
#define BAUDRATE 115200.

2- The GPS is obviously disconnected.

I have already commented that just disabling the UBLOX support works correctly.

[2017-03-19 22:41] ShikOfTheRa commented on #401
Ok thanks. I will check first thing in morning....

[2017-03-20 08:41] ShikOfTheRa commented on #401
Bug confirmed. Will get this fixed ASAP.

[2017-03-20 09:21] isabido commented on #401
Thanks for your confirmation, meanwhile version 1.6 is not affected?

Regards!

[2017-03-20 10:20] ShikOfTheRa commented on #401
I think 1.6 will be same. I think I understand the issue. Trying some options today...

[2017-03-20 10:31] ShikOfTheRa commented on #401
OK - made amendment to OSD code. I am unable to test with GPS chip at moment to confirm nothing is impacted, but it looks OK on simulator...! Please try.

https://github.com/ShikOfTheRa/scarab-osd/archive/master.zip

[2017-03-21 03:44] SirPotato opened #402 "Stupid Question: How do I upload the config.h file to the OSD?"
I'm running a Diatone SP3 VTX/OSD combo, and I can't figure out for the life of me how to get the the config.h file to be loaded onto the OSD. I thought just saving it would work, but it didn't. I can configure it through the GUI, but I want some of the settings in the config file that are not in the GUI to be activated. I'm new to OSD configurating so this is probably a stupid question. Thanks in

[2017-03-21 08:15] ShikOfTheRa commented on #402
Here is a very basic step by step guide. Don't miss a single line:
https://github.com/ShikOfTheRa/scarab-osd/wiki/Quick-start-guide

In brief you need to install arduino, edit config.h flie in that and upload to the board.

[2017-03-21 12:36] SirPotato commented on #402
Ah, thank you. I had tried opening it in arduino, but I had tried to open config.h directly instead of the .ino file.

[2017-03-21 17:58] sppnk commented on #393
Hi, I close this as I am taking the values directly in the FC. I guess it is better and I dont know if the effort to modify MSP worths this. Closing...

[2017-03-21 17:58] #393 closed

[2017-03-22 09:13] #402 closed

[2017-03-22 12:06] ShikOfTheRa commented on #388
Going to close this as resolved now.

I have added into development roadmap to revisit the AHI section to improve memory / performance. Definitely opportunity.

Thanks for input and testing - brill.
Will update download  files too.

[2017-03-22 12:06] #388 closed

[2017-03-22 12:06] ShikOfTheRa commented on #401
Confirmed by others this is now working too

[2017-03-22 12:06] #401 closed

[2017-03-22 12:16] ShikOfTheRa commented on #398
I have requested...

[2017-03-25 22:20] SergeantSeven opened #403 "Configurator stuck while reading from minimOSD"
Fresh install, EEPROM cleared, Flashed latest version of MWOSD to my MINIMOSD, target board is correct.
Set up my board and all parameters in config.h

Now, when I try to connect to configurator 1.7  for the first time after flash it starts to read from the OSD.
However, it gets stuck either at 25%, 38%, or 50%. It never gets done reading and I can't send any changes to the OSD or do anything else

[2017-03-25 22:34] SergeantSeven commented on #403
Update, Tried doing a new flash with default settings in config.h except setting cleanflight and minimosd as defaults. It started right up in configurator. So the issue has to be with something I'm changing in config.h that is freezing up the minimosd.

I did another go at it and only changed a select few settings and it just read fine in configurator. Not sure what happened or why but it is worki

[2017-03-25 22:34] #403 closed

[2017-03-29 13:20] sppnk opened #404 "Arrow to home not working with INAV and LTM"
Hi @ShikOfTheRa . The 'arrow', as direction to home, is working with INAV and LTM? I have found that it goes crazy, when using LTM telemetry (I share the OSD UART with telemetry device)

In LTM, no 'course over ground' is sent (only attitude heading in 'A' frame), and I cannot find in your code the calculation of this value and if it is compared to home heading in order to draw the correct 'arrow'

[2017-03-29 14:29] ShikOfTheRa commented on #404
Firstly, I am not sure all FC code use the same meanings for direction...
but for iNav and and LTM, my assumption has been they use the same data as for MSP

It gets heading to home from G frame:      GPS_distance_cm_bearing(&GPS_latitude,&GPS_longitude,&GPS_home[LAT],&GPS_home[LON],&dist,&dir);
      GPS_directionToHome = dir/100;

To this it applies correction from actual heading/cog (default=ma

[2017-03-29 14:57] sppnk commented on #404
I use mainly cc3d for planes, so.. no MAG, hehe.

I like second option, as I guess LTM is not easy to change, because it is growing the use of it in different systems .

[2017-03-29 15:16] HughAV opened #405 "What chip is in the HGLRC AIO F3 V4?"

[2017-03-29 15:59] ShikOfTheRa commented on #404
Well its not really changing LTM protocol - just sending valid data !

At last I am using iNav on a plane now!!. I picked a funjet - probably not the ideal first plane to learn iNav with!! Had its maiden flight. It went really well. Need to do some tuning though

https://www.youtube.com/watch?v=U3tDgGzDvkc

[2017-03-29 16:38] ShikOfTheRa commented on #405
I think this is posted in wrong place. It doesnt run MWOSD.
At a guess ...  F3 chip! and max7456 for video

[2017-03-29 16:38] #405 closed

[2017-03-29 17:57] sppnk commented on #404
Great !!. Nice flight. I have a Miini Talon with INAV and high speeds. It works fine.

This issue is treated here in INAV repo: https://github.com/iNavFlight/inav/issues/1416

[2017-03-30 02:00] HughAV commented on #405
it is an all in one fc/pdb/osd/vtx that has mwosd running on it.

On Wed, Mar 29, 2017 at 12:38 PM, ShikOfTheRa <notifications@github.com>
wrote:

[2017-03-30 08:46] Dronek commented on #404
Slightly related to [this](https://github.com/ShikOfTheRa/scarab-osd/issues/381):
would it be feasible to display MAG heading and GPS heading (course over ground) together in the compass indicator?
For example:
 |   |   S   |   |   W   X   |      <---- MAG heading with "X" indicating GPS heading

Would be helpful for the pilot to estimate drifting due to crosswind.

[2017-03-30 14:56] HughAV commented on #405
Thank you!

On Mar 30, 2017 4:08 AM, "ShikOfTheRa" <notifications@github.com> wrote:

[2017-03-30 15:09] ShikOfTheRa commented on #404
Added bothe to development roadmap / wishlist:

https://github.com/ShikOfTheRa/scarab-osd/wiki/Features-future-roadmap

[2017-04-01 23:36] isabido commented on #401
Confirmed, works correctly. I have opened a new issue. Does not display correctly with "arrows" the address to home. Instead it shows "LETTERS"

I try to load the fonts, and it disconnects when it reaches 10%.

[2017-04-01 23:36] isabido opened #406 "Failed to upload fonts."
Does not display correctly with "arrows" the address to home. Instead it shows "LETTERS"

I try to load the fonts, and it disconnects when it reaches 10%.

This is the version used.

https://github.com/ShikOfTheRa/scarab-osd/archive/master.zip

[2017-04-02 17:06] sppnk commented on #404
Just to say I have tested again after clean some bugs in my LTM reader code, and now I see that 'heading' value from LTM is perfectly the 'course over ground' when plane comes home in RTH.

I will test in next weeks the osd arrow issue. Thks.

[2017-04-03 12:34] sppnk commented on #404
I will close this until new tests. Thks and sorry for the mess.

[2017-04-03 15:37] ShikOfTheRa commented on #406
Can you advise what changes you make to config.h?

[2017-04-03 15:38] isabido commented on #406
Something like that...

http://intofpv.com/t-osd-standalone-gps
#define MINIMOSD
#define GPSOSD_UBLOX
#define FIXEDWING
#define BAUDRATE 115200

Thanks!!

[2017-04-03 16:16] ShikOfTheRa commented on #406
Ah .. ok. I have an idea.

[2017-04-04 13:33] ShikOfTheRa commented on #406
Bug confirmed. Thanks for reporting.

This would impact UBLOX and MTK users. Very few which is possibly why not noticed before.
Its actually a bug in chrome that OSD is trying to workaround. Unfortunate side effect I did not think about..

Fixed and  uploaded into github. Please test and advise if OK.

[2017-04-04 17:30] isabido commented on #406
Thank you for your prompt response, I will not be able to confirm until next weekend.

I'm sorry for the delay, but for work matters I'm not possible.

[2017-04-04 18:02] ShikOfTheRa commented on #406
OK - no hurry.
I could replicate and the update worked for me. Hopefully will do for you to

[2017-04-05 14:53] ShikOfTheRa commented on #404
Looking at DE's response I think I will remove the use gps component when fixedwing defined.

Until then, FOR LTM ONLY... use #define USEMAGHEADING (even though no MAG)

[2017-04-05 15:38] ShikOfTheRa commented on #398
Requested again

[2017-04-07 09:01] sppnk commented on #404
Hello @ShikOfTheRa , I reopen this becasue I tested in flight yesterday and I found that the arrow showing direction to home doesnt work. It shows wrong direction.

As at the same time I am cheching this with my LTM reader, I can say that the data coming from INAV telemetry LTM ('A' frame) or the computation I do at the same time are correct.

But the arrow doesnt. Could be a missconfiguration or

[2017-04-07 09:58] ShikOfTheRa commented on #404
There would have been an issue if using FIXEDWING and LTM on any builds prior to updates to the repository yesterday.

If its still same I'll have to try to throw some real data at it as I can't see any more errors from just looking at the code.

[2017-04-07 15:34] sppnk commented on #404
Ok, I have not actualized yet. I will try this new version and report. Thanks.

[2017-04-10 08:46] sppnk commented on #112
Hi, this is old, but just to report here that I have actualized recently and I can see the Wh/km indicator working fine !! My Mini Talon climbs at high values, but cruises at 1.0 Wh/km or less if has wind in tail.
Very useful to optimize long range flights. Great !!

[2017-04-10 11:45] ShikOfTheRa commented on #112
Brill. i often wonder how often some of these functions are used...

[2017-04-10 12:39] sppnk commented on #112
Yes. I guess the long range pilots who can report about this things mainly are using other gear than this (vector osds and so on).

But with iNAV this is changing, so I hope more people enjoying this kind of features in their minmosd's..

[2017-04-10 12:46] ShikOfTheRa commented on #112
Yeah - huge change recently. iNav is impressive. A lot to learn though...

[2017-04-13 21:57] bfasty opened #408 "Question"
I'll start with  I am not a coder.  My question is... would it be possible to make a version of this OSD that does NOT need FC communication?  I know you would loose certain abilities but if all you want are features that are physically built into the OSD it should work.. right?  I ask because I have a drone plastics OSD/PDB for my alien and would love to not have to hook it up to a uart but be ab

[2017-04-14 10:09] ShikOfTheRa commented on #408
Yes, it can do this now... just how you configure and enable/disable features. If you have gps chip you can also hook it up to that.
I run a standalone version in my groundstation for just for voltage display / warning

[2017-04-14 13:30] bfasty commented on #408
@ShikOfTheRa So do I just not select a FC on the config tab or would it be more complicated than that?  All I want on the screen is volts, amps, Mah drawn, Timer and RSSi.

[2017-04-14 15:56] ShikOfTheRa commented on #408
Don't select FC for any
Select the layout closest to what you want then move items around on screen and enable/disable.
If you upload via arduino, in config.h there is a preset called standalone. It's not in the flash from gui, but I'll add that in next few days to make even easier.
It's not to difficult. Don't overthink! What you want is pretty straightforward.

[2017-04-14 16:37] bfasty commented on #408
I didn't see the standalone feature in the config.h on the current beta release.  I must have missed it.  I look forward to the next beta release with it in there.
Thanks your getting back to me and I look forward to the release
Thanks again

[2017-04-17 15:07] fape opened #409 "deprecated msp commands"
There is some changes in betaflight/cleanflight msp commands. Mostly some commands are deprecated and removed or will be remove soon. See [msp_protocol.h](https://github.com/betaflight/betaflight/blob/master/src/main/msp/msp_protocol.h) and [fc_msp.c](https://github.com/betaflight/betaflight/blob/master/src/main/fc/fc_msp.c)

Used by mwosd:
- MSP_LOOP_TIME: Add some define?
- MSP_SET_LOOP_TIME: Ad

[2017-04-17 18:51] grizewald opened #411 "Chrome GUI says "wrong version""
So, I wanted to update my flight controller to the latest version. It has an integrated MinimOSD which was running fine on version 1.6 which I'd previously flashed with the Arduino IDE.
I paid for and installed the Chrome GUI but couldn't see the "Flash" button that the documentation refers to. No matter, I still have the Arduino IDE installed. So I configured and compiled version 1.7 and flashed

[2017-04-18 07:54] hugges opened #412 "mwosd problem"
in the screen for mwosd it opens but a error message
says
"gui version does not match osd version-use correct gui version or update osd"
using w10  in chrome an using mwosd 1.5 i have tried mwosd 1.6 but it will not open

[2017-04-18 10:14] ShikOfTheRa commented on #408
Great! new GUI has hex uploader. Standalone isn't one of the configured build options. I'll add it at some point

[2017-04-18 10:17] ShikOfTheRa commented on #409
Thanks for heads up. Unaware of these changes.

MSP_LOOP_TIME/MSP_SET_LOOP_TIME:
Well, I guess leaving it in will cause no harm if not used by FC. In some cases not visible unless enabled. Do you know what versions will it be removed from in CF/BF? Like to keep in sync if can.

MSP_IDENT:
Its still in the code, however hasn’t been used for some time. Had been thinking of re-introducing it. Been th

[2017-04-18 10:21] ShikOfTheRa commented on #412
Version on OSD must match the GUI - this is to ensure settings are consistent between versions and prevent issues.
If you are using 1.5, you must use the 1.5 GUI from here:

https://github.com/ShikOfTheRa/scarab-osd/blob/master/OTHER/DOCUMENTATION/Downloads.md

[2017-04-18 10:35] McGiverGim commented on #409
I think that all this commands were deprecated some time ago, but have been removed in CF2.0 and BF3.1.7. Both have now the same base.

[2017-04-18 11:39] fantasiiio opened #413 "Inverted AHI pitch"
Hi,

I compiled MWOsd for a good old APM 2.6 and minimosd. All seem to work good exept for the pitch of AHI is inversed. When the nose goes up, the horizontal bar goes up. Same thing for nose down.
If I try it in mission planner for apm all is correct. My apm camera gimbal also is correct. I tried the compiler flag INVERT_PITCH, but it does nothing.

So, do you have a hint of why it does that ?

[2017-04-18 12:02] fape commented on #409
Thanks. Sorry I missed the request for msp_voltagae_meter. I'm going to send a PR soon.
Unfortunately baseflight only use MSP_MISC, But MSP_VOLTAGE_METER_CONFIG is in betaflight long time ago [link](https://github.com/betaflight/betaflight/commit/99089b9e70107269d171f05b3590b1548b65ae8d) same in cleanflight [link](https://github.com/cleanflight/cleanflight/commit/99089b9e70107269d171f05b3590b1548b

[2017-04-18 13:11] ShikOfTheRa commented on #413
That is normal operation for FPV fixed camera - the ahi should track horizon. Viewing with a camera on a gimbal, I can understand why might prefer the other way. I can't verify INVERT_PITCH today - will try tomorrow

[2017-04-18 13:25] ShikOfTheRa commented on #411
can you confirm teh version of configurator. If can't see in teh GUI unde rteh "mwosd configurator" image then ight click on the chrome app icon to view.

There are a large number of users who seem OK, but have a number of reports raised by ubunto users which we are looking into.

[2017-04-18 13:27] ShikOfTheRa commented on #411
Ah - just a thought - can you uninstall all - including any free ones etc then re-install the one from chrome store?

[2017-04-18 13:58] fantasiiio commented on #413
Yes, the AHI is supposed to track horizon, but it's not. When the nose goes up, horizon goes down, but AHI goes up.. it's inversed.

[2017-04-18 14:19] ShikOfTheRa commented on #413
Ah sorry - yes - I misread on my phone...
I will check for you tonight.

I have never used APM - it is quite possible it is wrong, but no-one has raised to me before. Maybe they don't use ahi!

[2017-04-18 16:53] grizewald commented on #411
The GUI version is 1.6.0.9, freshly installed yesterday from the Chrome app store and no other versions of it have ever been installed before.
I also tried flashing 1.7.1 of the OSD code, but no difference.
It would be amazingly helpful if the GUI said "Expected version x, found version y" instead of the utterly opaque "wrong version" message that it currently delviers.

[2017-04-18 18:07] ShikOfTheRa commented on #411
I honesty have no idea... The version on the store is 1.7.1.1 I have just uninstalled and re-installed to try...
1.6.0.9 hasn't been there for a long time. Have been numerouse updates since the.

Hold fire - will get ubunto installed and test...

Good point on the wrong version message. See if we can improve in that in future...

[2017-04-18 20:04] grizewald commented on #411
It gets stranger!

I checked on the app store and indeed, it shows 1.7.1.1 as being the latest version of the GUI. So I removed it from Chrome, restarted Chrome and added it again.

Now I have the right version, but it doesn't seem to be working properly. There are no tabs like there were before and I can't select anything in the drop-down that is visible between the buttons labelled "Load online

[2017-04-18 20:14] grizewald commented on #411
In answer to my own question, no. The screen size doesn't make a difference.

This is what I see:

![screenshot1](https://cloud.githubusercontent.com/assets/19938983/25151018/48a5dabe-2484-11e7-9333-3e78ed555546.png)

and if I scroll all the way down, I see this:

![screenshot2](https://cloud.githubusercontent.com/assets/19938983/25151034/55465992-2484-11e7-8952-528a443e9331.png)

Hope that helps!

[2017-04-18 21:35] bfasty commented on #408
I saw that! the Hex loader worked great!!  Now I'll sit patiently in the corner and wait for standalone mode(twiddling thumbs).

P.S.  the performance of 1.7.1 is the best I've used so far!!!

[2017-04-18 22:06] fantasiiio commented on #413
I just want to specify that I tried the gimbal only to see if it works correctly. I will not use gimbal and ahi at same time because the horizon doesnt move and the ahi is not useful.

If you want I can try to debug the code. I'm an experienced programmer.

[2017-04-19 03:11] fantasiiio commented on #413
I made a small pull request

[2017-04-19 11:19] error414 commented on #411
Can you try new version?  1.7.1.2 https://chrome.google.com/webstore/detail/mwosd-configurator/jdfbjgomfcfpgkdjfnmekbkhkbgfminf

[2017-04-19 12:42] grizewald commented on #411
The GUI displays correctly now with 1.7.1.2 installed.

So I selected the "Betaflight 1.7.1" online hex, chose the correct serial port and 115200 baud and said "Flash". The blue LED on my UART-Serial adapter lit up and the app now just sits there saying "Waiting for bootloader reset".

[2017-04-19 12:55] grizewald commented on #411
It does connect to the firmware that I flashed manually though and I was able to correctly set up my OSD. Nice one!

Do you want me to close this issue and open a new one for the flashing problem, or just carry on here?

[2017-04-21 15:01] grizewald commented on #411
I'll close this issue as I can now connect to the OSD.

Thanks for the help!

[2017-04-21 15:01] #411 closed

[2017-04-22 06:15] Pierre-A commented on #408
**@bfasty**, for standalone mode, just uncomment the NOCONTROLLER preset (line 54 in config.h rev 1.7).

[2017-04-24 02:06] #413 closed

[2017-04-27 06:23] McGiverGim opened #416 "Add a CLEANFLIGHT2 define to the Config.h file"
The Cleanflight 2.x code now is exactly the same as Betaflight 3.1.7, so it must act exactly as the BETAFLIGHT (or BETAFLIGHT31) definition.

The easier solution is to add a `#define CLEANFLIGHT2` to the `Config.h`, and maybe a:
[code]
to the `Def.h`.

But I don't know if this is a correct solution, o is maybe cleaner modify all the conditions where the BETAFLIGHT31 appear to add the CLEANFLIGHT2

[2017-04-27 06:25] McGiverGim commented on #416
I've seen too that now in `Def.h`:
[code]
So I suppose that `CLEANFLIGHT must change to point to the new CLEANFLIGHT2 definition too.

[2017-04-27 14:27] ShikOfTheRa commented on #416
Yep - planning to do a bunch of changes like this next week.

[2017-04-27 14:28] ShikOfTheRa commented on #412
ok now?

[2017-04-28 19:30] Creautre opened #417 "Default Font unreadable after Upload"
I flashed MWOSD via Arduino IDE onto the MicrominimOSD Board. [ I didn't do EEPROM_CLEAR prio to this ].

Everything looked fine except that I had the wrong Symbols. Instead of battery I had an Arrow etc. so I used MWOSD Configurator and connected to the OSD via Serialpassthrough through my SPRacing F3 Evo board running Betaflight.

After I connected I used the "Change" button below "FONT:" and ch

[2017-04-30 23:34] kak-dela007 opened #418 "Do not load fonts version 1.7.1"
The firmware downloaded through a paid GUI (version for APM) , but to upload a font does not work. On the screen appears something like this. How to fix it?
http://s009.radikal.ru/i307/1704/34/de99064a7056.jpg

[2017-05-03 19:22] moggiex commented on #418
This is exactly the same issue I am having. See this video

[https://www.youtube.com/watch?v=2zYQsMgFMEU](https://www.youtube.com/watch?v=2zYQsMgFMEU)

Matt

[2017-05-04 07:42] Creautre commented on #418
I tried using EEPROM Clear on Arduino IDE and reflashing the firmware
 over and over again but it never worked [ desoldered from my Circuit of
 course ].
I managed to fix the Issue by Using the "FLASH" function on the top right of MWOSD Configurator instead of using "Connect". I first uploaded ClearEEPROM, then Bold font installer and then "Default minim Betaflight 1.7.1".

Check my Thread about t

[2017-05-04 10:52] moggiex commented on #418
Yep that approach worked, thanks for sharing. I appreciate it!

[2017-05-04 21:20] kak-dela007 opened #419 "Problems connecting to the APM"
1. Not correctly displays the gas level. Responds to stick "ruder" instead to respond to the "throttle" . When you download the firmware through Arduino IDE I tried to activate the following lines in different combinations, but it does not give results.
#define AUTOTHROTTLE
//#define HIGHTHROTTLE 1900                // Maximum recognised value for throttle
//#define LOWTHROTTLE  1100

[2017-05-07 00:09] SergeantSeven opened #420 "Failsafe indicator on screen"
Hello,
This is a feature request.
I'm interested in having the ability to see an indicator that the craft is in fail safe.
It would basically be the same as the arm/disarm status but would actually read "FAILSAFE" as a status.
Reading through the available MSP commands I'm not sure how this would be implemented but I feel its would be valuable to many pilots to know when the flight controller has

[2017-05-10 07:23] ShikOfTheRa commented on #420
There is an option in there now. CAn edit layout to show APSTATUS as per image:

![image](https://cloud.githubusercontent.com/assets/11336532/25887374/d1a74060-3559-11e7-9c1e-8c3f3bfbc2fc.png)

[2017-05-10 07:31] ShikOfTheRa commented on #418
Hi all - sorry for slow response - tied up at work at moment-
moggiesx - have watched many of your vids. Think last one was your finwing traveller which I know have waiting for chance to do something.

Re the fonts - are you guys using FC passthrough for programming?

[2017-05-10 07:37] Creautre commented on #418
@ShikOfTheRa As you can read in the Thread I posted I first had the issue when I used FC passthrough. After that I managed to fix everything when I had the MicroMinimOSD desoldered and directly connected it for programming and used the "FLASH" function. The OSD worked perfectly fine afterwards but I decided to put it to the test and (while still desoldered from the copter and was still directly co

[2017-05-10 07:46] moggiex commented on #418
@ShikOfTheRa, no worries, work pays for models :)

Clearing the eeprom, flashing the fonts, then flashing the firmware appears to work well and as @Creautre mentions above, 100% repeatable error using the GUI for loading the fonts.

Working now with the process above. Well kind of, when flashing with Pixhawk set as the FC the flight mode indicator is not changing, but should be in a different thre

[2017-05-10 07:52] ShikOfTheRa commented on #418
OK thanks both - will pass on to dev. Must admit I haven't seen this issue, but can understand how it might occur.

That Traveller could be awesome. I hope they do a V2...

[2017-05-10 08:12] ShikOfTheRa commented on #419
Are you using 1.7?
1:
 Channel order matters - it is configured for default of AERT
If you are not using this, need to use arduino and upload with correct tx enabled in config.h.. Longer term will look to make that GUI configurable. Memory permitting

//#define TX_RHF                    // Enable for Robe/Hitec/Futaba (Only use for GPSOSD/NAZA/APM/PIXHAWK/MAVLINK)
//#define TX_GS

[2017-05-10 08:15] ShikOfTheRa commented on #419
3: No option to display climb rate. There is a climb rate indicator. I can look at add if this is a request?
![image](https://cloud.githubusercontent.com/assets/11336532/25889308/40308b16-3561-11e7-93a2-89184329e588.png)

[2017-05-10 08:17] ShikOfTheRa commented on #419
4:
![image](https://cloud.githubusercontent.com/assets/11336532/25889365/6e97eb8e-3561-11e7-8bd1-90fd05eb3802.png)

[2017-05-10 19:00] steph280 commented on #418
Same problem here, and the steps from Creautre did resolve it.  Thanks!

[2017-05-11 05:48] fape opened #422 "Platformio env names vs Platformio ide"
Platformio ide does not find any environment. I got "empty projects" warning.
Because env names contain `'.'` (dot) character. [Only `[a-z0-9_]+` is allowed in env names.](http://docs.platformio.org/en/stable/projectconf.html#projectconf-section-env). If I replace all the dots in `platformio.ini` to `'_'` and everything works fine in the ide. Unfortunately it works from command line with dots :S

[2017-05-11 07:29] ShikOfTheRa commented on #418
Thank you for reporting. Confirm bug found. Updated configurator being deployed to store today.

Estimate this will be available 12:00 UTC 11/05/2017
Configurator Version 1.7.1.5

[2017-05-11 08:08] ShikOfTheRa commented on #422
Actually I only use it to build hex files - so cli ok for me!

At some point I will use because not all environments compile - and want to make it compatible with both. If not in a hurry I will make all changes in about 3 weeks?

[2017-05-11 09:09] fape commented on #422
Thanks. I can live with my workaround some more weeks ;)

[2017-05-14 08:45] SergeantSeven commented on #420
will this work with cleanflight without an auto pilot mode and just a failsafe condition?

[2017-05-14 11:30] ShikOfTheRa commented on #420
Not 100% sure. Best way is to try to simulate and find out.

[2017-05-15 08:39] ShikOfTheRa commented on #180
@fedorcomander
one of my users has communicated that PIDs can now be updated - can you share details of protocol so I can implement?

Also any changes to existing read protocol? Is it still same.

TIA

[2017-05-15 08:44] ShikOfTheRa commented on #418
This has been resolved and confirmed by one of users

[2017-05-15 08:44] #418 closed

[2017-05-15 08:45] ShikOfTheRa commented on #417
This has been resolved by app update. Confirmed by one of the users

[2017-05-15 08:45] #417 closed

[2017-05-15 17:14] SergeantSeven commented on #420
Doesn't seem to work that way for me. I'm assuming AP status only works with flight controllers with Auto pilot functions, since cleanflight does not support this functionality in that degree, I am also assuming "FAILSAFE" is not included in AP status commands sent by any flight controller. please correct me if im assuming wrong. I did activate "Gps status" and located the AP status on the layout

[2017-05-15 23:19] maybeyes commented on #400
Nice feature ;) I need it.

[2017-05-17 11:29] skaman82 opened #424 "Current reading is multiplied by 10"
I get mAh readings multiplied by 10 in the osd compared with FC readings:
FC is showing 3 mAh consumed in Configurator and MWOSD is showing 30 mAh.

Is there a fix for that?

[2017-05-17 15:10] damonp commented on #424
I ran another pack through last night using PR#421 and the battery charged back to within 5% of what the OSD displayed as total MaH.  The `current scale` in Betaflight I ended up with was `770`.  Not that that should match anyone else's as I'm sure all current sensors are different.  I was just surprised it was nearly double the default.

@skaman82 What are you using for `current scale` in Betafli

[2017-05-17 15:23] skaman82 commented on #424
@damonp my current scale is 271 and the Configurator and I can see the correct mAh value in the Configurator App - but in the OSD it is still multiplied by 10. Running on latest public release of Release 1.6

[2017-05-17 16:00] ShikOfTheRa commented on #424
Which FC - betaflight?
Also how is it connected - to FC or direct to OSD.

Sure there was a bug fixed after 1.6 somewhere for this issue. Might be a small tweak to save updating to 1.7 if not needed

[2017-05-17 16:04] skaman82 commented on #424
@ShikOfTheRa Using INAV 1.7 on SPRacingF3 EVO FC. Current sensor is connected to the FC and calibrated using the current readings in the INAV configurator.

I also have purchased the 1.7 MWOS GUI - but I disliked the GUI so much and so I am using MWOS 1.6 again :)

[2017-05-17 17:38] skaman82 commented on #424
@ShikOfTheRa BTW. tested this today in MWOSD 1.7 with a beerotor F3 FC and PDB. It also doesn't work correctly. I'm getting 38 mAh in configurator but in the OSD I see 0 mAh. Different outcome but still not working like it should

[2017-05-17 22:09] ShikOfTheRa commented on #420
Looked at code. confirm not supported. I will add shortly.

in serial.ino, if you find this line:
      case 10:
        mode.gpshome |= bit;

Change to:
      case 10:
        mode.gpshome |= bit;
      case 27:
        mode.gpshome |= bit;

temporary hack. It will display AUTO RTH, but you can change that as a temp fix also:
in globalvariables.h:
const char APRTHtext[]      PROGMEM = "AUTO RTH";

[2017-05-18 08:31] SergeantSeven commented on #420
Sounds good, I'll give the hacks a try, thanks!

[2017-05-18 09:02] McGiverGim commented on #424
I don't know if this has something to do, but since BF 3.1.7/CF2.0 the current reading is now in centiamperes, before it was in deciamperes. At least in the blackbox log.

[2017-05-18 09:58] digitalentity commented on #424
Hm... I probably need to set up something with external OSD hardware and test myself.

[2017-05-18 11:38] skaman82 commented on #424
![img_20170518_133230](https://cloud.githubusercontent.com/assets/11768024/26200613/3efe59ca-3bcf-11e7-9b7f-2b5822456913.jpg)

[2017-05-18 12:04] skaman82 commented on #424
My settings
<img width="1323" alt="bildschirmfoto 2017-05-18 um 14 04 09" src="https://cloud.githubusercontent.com/assets/11768024/26201361/e7cbd836-3bd2-11e7-9d04-530f8d55dfb5.png">
<img width="604" alt="bildschirmfoto 2017-05-18 um 14 02 01" src="https://cloud.githubusercontent.com/assets/11768024/26201362/e7ee6efa-3bd2-11e7-9d4e-88fa9aa41997.png">

[2017-05-18 12:54] skaman82 commented on #424
Update: 1.7.1 ist showing correct results

[2017-05-18 13:02] damonp commented on #424
Nice. Did you need to set the mwosd current scale to 1?  Wondering if my setup is the odd one.

[2017-05-20 07:42] skorzo opened #425 "MWOSD 1.7 GUI without FTDI? (OSD already installed...)"
Hi!

I flashed Mwosd 1.7 and configured it with MWOSD Configurator GUI.

Probably I forgot to install the fonts and now I have lots of bad characters on my display, but the FC readings are OK.

Since I have the osd already soldered and hidden inside my quad frame,  Is there any way to re-flash the fonts or connect to Configurator without desoldering everything and setting up the FTDI?

I mean some

[2017-05-21 19:17] amin005 opened #426 "GUI chrome store price is not available"
price is not available so no GUI for ver 1.7
Ithink you are killing this project

[2017-05-22 03:28] kelleysislander commented on #327
Hi All,

I found you all while looking for a version of MW_OSD that would restore the VTx menu items.  I was searching n"Innova OSD firmware upgrade"

Anyways, the board works correctly in every other way, Is there a branch  or version I could flash to allow the VTx control settings to show up in the OSD menu?

Thanks,   Bill

[2017-05-24 08:08] error414 commented on #425
Hi,

you can check the video https://www.youtube.com/watch?v=Q6CXKAYYSB4 .

I tested serial passthrough  with baudrate 115200 and dedicated UART, I have no good experience with soft serial, it is quite unstable.

And it is important to have same baudrate for PC <-> FC and FC <-> MWOSD.

[2017-05-25 08:21] OtterNas3 opened #427 "Unable to configure"
As me, and i guess many others, cant figure out why Google is not accepting the Credit Card in the Chrome App-Store, is there a reason why PayPal is not accepted?

[2017-05-25 08:22] OtterNas3 commented on #427
I would donate even 5$ for the Configurator if i would be able to get it another way...

[2017-05-26 07:11] skorzo commented on #425
Solved!! Many thanks for the tip, that works.

[2017-05-26 07:11] #425 closed

[2017-05-31 14:49] yds commented on #327
@ShikOfTheRa @jflyper any chance the VTX branch will get merged?

I've installed the [VTX branch](https://GitHub.com/ShikOfTheRa/scarab-osd/tree/VTX) from the latest sources configured for [dRonin](https://GitHub.com/d-ronin/dRonin) and all seems to work as expected on a couple of the [Banggood clones](https://www.banggood.com/Micro-20x20mm-VTX-OSD-Board-40CH-5_8G-25mw-200mw-Mini-FPV-Transmitter-I

[2017-06-01 16:44] ShikOfTheRa commented on #427
I don't know why google doesn't accept . It is a pain.
A version that can accept paypal is coming soon hope within a month

[2017-06-02 06:43] fedorcomander commented on #180
Please check LUA sources, its all in there if you want to change ONLY pids.

[2017-06-02 12:51] jflyper commented on #327
@yds

Yes, of course. Thanks for reminding me!!!

[2017-06-04 07:48] hexagon-robotics opened #428 "Hardware requirement"
Hello!

I am designing a flight controller for racing. I have already implemented a Video / Audio Transmitter. But I would like to include an OSD.

What hardware do I need to integrate scarab-OSD on my board?

Best regards,
Javier

[2017-06-07 10:39] MathijsG commented on #427
What if you use the chrome extension in for example this latest test version: https://github.com/ShikOfTheRa/scarab-osd/archive/1.7.1.1.zip

it's within the MW_OSD_GUI folder, and you can manually drag it in Chrome on the extension page of Chrome.

That's how I bypassed the paid option. Not because I don't want to pay for this beautiful project, but because Google doesn't let me. Outside the US cr

[2017-06-07 10:40] MathijsG commented on #426
What if you use the chrome extension in for example this latest test version: https://github.com/ShikOfTheRa/scarab-osd/archive/1.7.1.1.zip

it's within the MW_OSD_GUI folder, and you can manually drag it in Chrome on the extension page of Chrome.

That's how I bypassed the paid option. Not because I don't want to pay for this beautiful project, but because Google doesn't let me. Outside the US cr

[2017-06-07 10:41] MathijsG commented on #428
If you look at the many flashing tutorials of a MinimOSD chip, you discover that it often is a ATMega328 5V 16Mhz.

[2017-06-07 15:41] OtterNas3 commented on #427
Unfortunately u can't use that GUI for the v1.7+ of the OSD Firmware

[2017-06-07 20:26] gsimpson2g opened #429 "APM - Distance To Home incorrect"
I upgraded to MWOSD 1.7 today, from the original MinimOSD firmware. I noticed my Distance To Home value is inaccurate. One test showed me 2200ft from home when I was actually about 4800ft from home. The direction to home arrow also appeared to be inaccurate.

I will do some more testing to verify.

[2017-06-07 22:05] hexagon-robotics commented on #428
Thanks Math!

I have seen that ATMega328 (AVR) is the classic to OSD for FPV. I have also seen other OSD projects with 8bits uC's as PIC or ARM.

But MAX7456 is obsolete. I have asked to Maxim a few weeks ago.

scarab-OSD support other chip?.

I have seen a alternative, the AT7456 , I think that it's made by a company in china but I not sure. Does anyone know him?.

Sorry my english.

Regards.

[2017-06-08 12:04] error414 commented on #428
Hi Javier,

I dont know AT7456, however developer of scarab-OSD created own OSD HW, and he used AB7456, see http://www.virtualpilot.co.uk/index.php?route=product/product&product_id=51

`Uses the newest AB7456 chip – generates far less heat and uses far less power than MAX7456 based clones`

[2017-06-11 17:36] hexagon-robotics commented on #428
Hi error414,

it sounds interesting, thanks very much!

It's the piece I'm missing to finish the flight controller

You know where I could get some pieces. Even for prototypes.

Best regards,
Javier

[2017-06-11 18:59] hexagon-robotics commented on #428
Sorry,

The chip has the Airbot logo, then The [chip](https://cdn6.bigcommerce.com/s-xkoep7/images/stencil/1280x1280/products/903/6357/Micro-OSD-v23-b__72686.1484124255.JPG?c=2) was created by Airbot?

[2017-06-12 06:33] Markuzzzz commented on #180
Hey Guys, I am testing the MW Osd for Kiss. I have a strange error going on. When ever I use level/acro mode selection using a switch on my TX the osd disappears entirely. Not matter on which Aux I set level/acro mode in the Kiss Gui. Anybody having the same problem? Shouldnt it react only on AUX4?

Tried 1.6.8 and the newest beta of 1.7 for Kiss from github.

[2017-06-12 13:42] ShikOfTheRa commented on #429
Can one of you try new hex (Listed under TEST section in GUI) or code direct from repository.
Currently resets altitude and home first time it is armed with enough sats.

[2017-06-13 02:58] gsimpson2g commented on #429
I will give it a go tomorrow.

[2017-06-13 09:16] ShikOfTheRa commented on #428
I think it is same as AT7456 but created for Airbot. Airbot can manufacture boards for you too

[2017-06-13 09:19] ShikOfTheRa commented on #426
For Price not available see below.

Paypal option is actively being worked on at moment.

30 Unable to load MWOSD GUI configurator from the google chrome store

Unfortunately Google has not made its services available in your country. The following approach can be used to make it appear that you are in another country.
Download TunnelBear from the Google Chrome Store.
Launch the app and create an

[2017-06-13 09:19] #424 closed

[2017-06-13 10:06] ShikOfTheRa commented on #420
This has now been added to main repository for upload by arduino. Will be in next GUI compiled hex release

[2017-06-13 10:06] #420 closed

[2017-06-13 10:10] ShikOfTheRa commented on #419
Default channel order changed for APM users. Can be overridden if required.
Thsi is available in main repository if using Arduino to upload. Will also be available in next pre-complied hex for GUI

[2017-06-13 10:10] #419 closed

[2017-06-13 10:11] #412 closed

[2017-06-13 10:48] ShikOfTheRa commented on #416
Bit longer than a week - but its done in main repository. GUI hex distributions will be updated after made a few more additions. Enough to release..

[2017-06-13 10:48] #416 closed

[2017-06-13 10:53] McGiverGim commented on #416
Thanks! I will test it ASAP ;)

[2017-06-13 10:55] ShikOfTheRa commented on #408
@bfasty this is also now available via the chrome GUI - it is listed under default minim boards as Basic OSD - No GPS

[2017-06-13 10:55] #408 closed

[2017-06-13 10:56] #406 closed

[2017-06-13 10:56] ShikOfTheRa commented on #404
Assumke all OK now. Please re-open if issues

[2017-06-13 10:56] #404 closed

[2017-06-13 11:40] ShikOfTheRa commented on #416
So normal CLEANFLIGHT define invokes v2 support. If want earlier ones need to enable CLEANFLIGHT190

[2017-06-13 11:43] hexagon-robotics commented on #428
Yes, is custom model by Airbot, yesterday I contacted with Airbot.

I use the same architecture, ARM Cortex M4F, but manufacturer of uC is different, is Motorola Freescale - NXP - Qualcomm.

180Mhz, 2Mb Flash, 512Kb RAM in BGA format 9x9 mm

I know a manufacturer en Shenzhen who contacted with me time ago, but I have nothin closed. I look for good price and good quality on the finish.

Regards

[2017-06-13 11:48] ShikOfTheRa commented on #428
yes speak to Li at airbot. Maybe he can help.

Also many sources like following:
http://www.icofchina.com/pro/kaiguan/10.html

[2017-06-13 12:15] hexagon-robotics commented on #428
Thanks a lot ShikOfTheRa!

U are big.

[2017-06-13 12:15] #428 closed

[2017-06-14 15:58] Markuzzzz opened #432 "Acro/level mode distorts OSD"
Hey Guys, I am testing the MW Osd for Kiss. I have a strange error going on. When ever I use level/acro mode selection using a switch on my TX the osd disappears entirely. Not matter on which Aux I set level/acro mode in the Kiss Gui. Anybody having the same problem? Shouldnt it react only on AUX4?

Tried 1.6.8 and the newest beta of 1.7 for Kiss from github.

[2017-06-14 16:11] dustin commented on #432
This will happen for a couple reasons:

1. You are browning out your max7456 chip (dipping below 5V will reset its state).
2. You've got an OSD switch configured that happens to match what's being sent.

The second condition could also be met by an MSP bug coming from KISS.

[2017-06-14 19:02] Markuzzzz commented on #432
Pretty sure the first reason isn't the case. OSD doesn't restart and doesn't go to start menu/screen, but goes back to the normal osd screen. I figure it's the latter, in that case there ain't nothing to do but wait for a fix by the KISS team?

[2017-06-15 10:19] ShikOfTheRa commented on #432
For KISS, IIRC MWOSD only supports Screen switching from an RC channel,

So if only want same layout all time, can set it in GUI to "Using FC OSD_SW"

Otherwise, maybe try changing the OSD ch value just to see.

![image](https://user-images.githubusercontent.com/11336532/27176925-7a0ca1e0-51bc-11e7-8002-3dc86fe772b4.png)

[2017-06-15 17:00] erwieser commented on #327
Hello everyone,

I too hit 'default' without thinking or reading this before and since then my VTX isn't transmitting anything at all.
So I tried to flash (with CP2102) the latest VTX branch to my Innova V1 clone (not from BG but I guess it's the same clone) with the hope that I'd see something again. The sketch is uploaded successfully (with Arduino 1.6.5) but there is still no picture at all :(

[2017-06-15 18:23] Markuzzzz commented on #432
Tried using different channels but still the same.. thing is I don't want screen switching but it always does on acro/level switch on aux port.

[2017-06-15 21:07] 4cellOstrich opened #433 "Custom placement of a persistent character"
Hello,

I was wondering what the procedure is for displaying any char from the max7456's set on the osd. I really just want to hard-code in an immobile horizontal bar on either side of the screen!

Thank you,

Owen

[2017-06-15 22:08] jnrabreu commented on #303
Hi!

I quick update on this subject as it probably can be fixed.

I had it working on my osd until i updated to 1.7.1. I went back to 1.6 and made severel tests and found that if enabled:
#define AUTOCAMWAIT               // **UNTESTED** - Use with AUTOCAM - waits until camera is ready - i.e. if power up cameras after FC.
I got OSD working again with Foxxer XAT600SM

This option is not available o

[2017-06-15 22:19] yds commented on #327
@erwieser shorting the DTR pads with a blob of solder turns the 5th (LED) pin into a DTR pin -- there is no need for the wire you connected to the DTR pads.

FYI, that 5th (LED) pin there is just a pass through to the 3 pin led connector.  You can remove the solder blob shorting the DTR pads to revert back to LED pass through functionality.

I've been told that there's a short window right after p

[2017-06-16 07:57] ShikOfTheRa commented on #433
Try this for starters:

Add this in after  displayTime();
displayBars();

Add this into screen.ino :

void displayBars(){
  screenBuffer[0]=0x2d; // where 0x2D is character font "-"
  screenBuffer[1]=0;
  MAX7456_WriteString(screenBuffer,(7*30)+1); // where 7 = row 7 and 1 = column 1
  screenBuffer[0]=0x2d; // where 0x2D is character font "-"
  screenBuffer[1]=0;
  MAX7456_WriteString(screenBuffer

[2017-06-16 08:05] ShikOfTheRa commented on #303
Yes. Am surprised though -  it shouldn't be needed - the updated code looks for change rather than wait. It effectively does same thing automatically.

[2017-06-16 09:28] jnrabreu commented on #303
That is great as i have some cameras that don´t work with 1.7.1. Those cheap Bannggod HS1177 clones have the same problem also. With 1.6 and AUTOCAMWAIT they work fine, but not on 1.7.1

[2017-06-16 10:26] erwieser commented on #327
My wiring looks (almost) the same. As I have no DTR pin on my CP2102 module I had to do some micro soldering:
![20170616_110553](https://user-images.githubusercontent.com/29452152/27222575-13ba885e-528d-11e7-9d1b-5e6797b8f56b.jpg)
In the last picture I soldered the red cable (DTR from CP2102) directly to the solder blob, now it's connected with the harness. So it's basically the same, right?

Trie

[2017-06-16 10:46] macfly1202 commented on #327
Honestly @erwieser, why spend so more time with FTDI that didn't work for so many people. I've spend many hours on trying flashing with 3 different ftdi. The only - and very usefull tool to use and add on his shelve - is an usbasp. It will cost you 5-15$ (always take with 3.3 and 5v)
Check my post above. Don't use the DTR pad blob, on my piko version 1  there was a loop back to atmel that gave me

[2017-06-16 11:12] ShikOfTheRa commented on #303
Just had a look and can you try this on 1.7.1 - it should do same thing..

Disable AUTOCAM
Set correct NTSC / PAL in GUI

#define AUTOCAM                     // Disable if no screen display. Enables autodetect Camera type PAL/NTSC. Overrides GUI/OSD settings.

[2017-06-16 11:17] Schalonsus opened #434 "Audio variometer support"
Would it be possible to use MWOSD and OSD hardware to create an audible variometer which connects to the audio "IN" from the video trasmitter?
Delta altitude is provided by the FC (gps or baro)

[2017-06-16 12:54] gsimpson2g commented on #429
Tested it today. It looks to be showing dist from home around half what it really is. OSD was showing me a distance of 3300ish ft, yet I know I was closer to 6600ft. The total distance traveled looks to be accurate on summary screen (showed 12800ish ft traveled).

Here is the video of the 6600ish ft showing incorrectly as well as the arrow to home showing wrong. https://www.youtube.com/watch?v=Xaz

[2017-06-16 14:21] ShikOfTheRa commented on #429
Thanks for posting the video. I love looking at them and it helps me identify issues. Also I think not many use for APM so extra bonus to see that.

I had a look in code and I see for some reason in APM, the Longitude scaling is disabled. Not sure why - I think this must have been by mistake. At equator - 1 degree longitude = 111km. at 45 degree it is 75km

I wonder if this is the cause. I have re

[2017-06-16 14:36] ShikOfTheRa commented on #434
I wondered when someone would ask!

Yes I think so. I think Arduino function uses a lot of memory so might have to look at
I was thinking about using it as a modem  for antenna tracker, but never had enough time to try it.

I could put something together for you to try - maybe use current sensor or RSSI pin - or would you prefer another?

[2017-06-16 15:12] 4cellOstrich commented on #433
so I tried that, but I only got a completely blank screen, that said,  I am using a pixhawk on px4, which I know isn't compatible, but I was just using the minimosd board to display these chars, which in theory arent dependent on the pixhawk right?

[2017-06-16 17:12] ShikOfTheRa commented on #433
Oops try 7*30 instead of 730

730 will be of screen! And pids lock it up

[2017-06-16 18:27] 4cellOstrich commented on #433
It worked! Clutch man!

[2017-06-16 20:15] ShikOfTheRa commented on #433
That's great.now just play around with positions. I just had a rough stab to get you started

[2017-06-16 20:54] erwieser commented on #327
@macfly1202 ESCs and camera for this build are still on their way so unfortunately I can't just go and fly yet.
But since I messed this one up, I'm really eager to fix it again somehow.

Since I only have the CP2102 by now: @HenryIvarsson @yds How did you manage to flash your clones? Which version of Arduino did you use? What did you uncomment in config.h? What was your whole procedure to success?

[2017-06-17 06:15] Schalonsus commented on #434
Nice!
Preferably i would like to use the RSSI pin

[2017-06-17 09:29] MarenB commented on #434
Great, I would sign in as second tester!

[2017-06-17 09:41] ShikOfTheRa commented on #434
Get your hardware ready then guys. I'll try to get completed in the week.

[2017-06-17 10:09] MarenB commented on #434
Alright, I'll hurry up finishing the plane.

Maybe this will get myself a little more time: I was wondering if it makes sense to combine the audio output to specific OSD screens? That way it would be possible to activate the audio feedback only when looking for thermals and one wouldn't be annoyed by the useless beeping while ascending with motor power?!

[2017-06-17 10:11] Schalonsus commented on #434
Or sound is only available while throttle is zero

[2017-06-17 11:11] MarenB commented on #434
Also a good idea! Additional to my idea, the sound could be defined just like an OSD paramater similar to voltage, etc. - so anyone can activate or deactivate it in the screens he wants. A coupling to zero throttle would still make sense, although this still wouldn't cover flight modes in which the FC controls throttle autonomously (althold or FBWB, i.e.).

[2017-06-18 14:26] turborocket opened #435 "charset problem, osd on apm 2.6"
Hi all,

i have 2 micro minimosd, both with 1.7 fw and bth with same config.

But 1 of those 2 has not clear on screen character.

![20170617_160514](https://user-images.githubusercontent.com/22917959/27261364-e3716dc8-5441-11e7-92ab-ad151ea38ad3.jpg)
![20170617_160527](https://user-images.githubusercontent.com/22917959/27261365-e37539c6-5441-11e7-868b-bf0934403039.jpg)

as you can see in the pict

[2017-06-19 07:29] ShikOfTheRa commented on #435
There was a bug with one of the GUI versions which created an effect just like that.
I think to resolve, if you try reload fonts with latest it should be OK.

Another option is to use font uploader from utilities in flasher

[2017-06-19 09:12] jnrabreu commented on #303
Tried it but  dosent work.

[2017-06-19 11:00] ShikOfTheRa commented on #303
OK - will re-add the wait. prob wednesday as tied up in work at moment.
This is a strange one - i also have some 1177 clones.

[2017-06-19 15:29] 4cellOstrich opened #436 "PX4 Compatibility"
Hi all,

I have been working for awhile on a fully compatible osd using minimosd hardware with px4 pixhawk fc's. I, unfortunately, have made very little progress. The issue lies in that the flight mode architecture is vastly different between the supported apm and unsupported px4, as well as some other data loss that I have not found the source of it yet, if anyone has a method that has fixed this

[2017-06-20 14:34] ShikOfTheRa commented on #436
I haven't used PX4 so can't help you unfortunately. I take it that it doesn't use mavlink? Are there any links that describe the protocol.
Is this to add to MWOSD - more to create your own?

[2017-06-20 14:36] 4cellOstrich commented on #436
Well it does use mavlink, however the structure is somewhat different, attitude data is conferred, but flightmodes, satellites, all that jazz is lost. And yes, ideally my goal is to make a compatible firmware. I can send you to the night-ghost minimosd repository where I tried, with no luck, to accomplish the same goal.

[2017-06-21 08:22] ShikOfTheRa commented on #436
Hi - do you have a tlog of px4 serial data?

[2017-06-21 13:33] #433 closed

[2017-06-21 13:36] ShikOfTheRa commented on #434
Had a stab at this. ready for test / debug. I haven't looked at hardware needed yet but guess that's on web somewhere and needs a resistor / capacitor.

/********************       Vario / climbrate Settings         ************************/
#define DISPLAYVARIO                // Enable this to display Vario slider (if climb rate selected in layouts)
//#define DISPLAYCLIMBRATE          // Enable t

[2017-06-22 08:25] Schalonsus commented on #434
Barometer needed or is GPS sufficient for the code?

[2017-06-22 10:31] Schalonsus opened #437 "Show_Total_Distance"
http://fpvlab.com/forums/showthread.php?34250-MWOSD-for-BETAFLIGHT-CLEANFLIGHT-RACEFLIGHT-PIXHAWK-KISS-DRONIN-INAV-and-others&p=829684&viewfull=1#post829684

would be great if added to master branch

[2017-06-22 10:38] ShikOfTheRa commented on #434
//#define DISPLAYCLIMBRATE
//#define VARIOALARM 150

Above new additions are tested

For audio...
GPS should be fine if FIXEDWING specified..

This is first cut - suggest if build some hardware can test using GUI simulator. I honestly have no idea if it works yet. Chances are it will need some tweaking, but its ready to test!

Followi9ng as starter for a circit. I havent tested yet..
![image](http

[2017-06-22 14:59] Schalonsus commented on #434
First test done:
I soldered a voltage divider across RSSI (22kOhm) and GND (2,2kOhm). This should result in a 0,5V signal. This is fed to the "audio in" of my transmitter.

But i just get a solid tone if rising altitude in configurator. It starts 3 seconds after start rising and ends 10 senconds after stop rising. Descend makes no tone.

My KK Vario dont need the capacitor. Its Pin2 or Pin3 on the

[2017-06-22 15:38] ShikOfTheRa commented on #434
Ah - I just uploaded missed commit.
Its positive to get a tone. That's the bit I was unsure of actually. The rest I am confident we can fix.

Give ita try now. A soon as you said nothing on descent I knew I hadn't posted the last...

[2017-06-22 15:46] ShikOfTheRa commented on #434
And interesting on the capacitor.
That probably depends what is on input of VTX. If it already has one or not. Not really familiar with how these things are built.

Also, once we have basics of this running we can tweak following settings:
  #define VARIOFREQCLIMB 800      // Climb tone Hz
  #define VARIOFREQSINK 600       // Sink tone Hz
  #define VARIOTHRESHOLDCLIMB 10  // Threshold at which cli

[2017-06-22 16:06] ShikOfTheRa commented on #434
Just tried some debug and as far as I can see it looks like its working on a debug screen - but with out speaker setup its hard to tell. I made a small tweak to improve screen switching.
Hard to visualize how it sounds, but I hope now its just tweaking frequencies, hz and trigger limits. Probably better to test with a barometer. Think GPS will work better in the air than ground.

Arduino tone look

[2017-06-22 16:53] ShikOfTheRa commented on #437
Yes - will add shortly. Thanks for reminder..

[2017-06-22 20:52] retif opened #438 "Current indicator is not working witn cc3d inav and minim osd"
Using cc3d with iNAV 1.6.1. And micro minim osd with mw osd 1.7.

If autopilot is attached - current indicator is zero all the time.
If autopilot deattached - current indicator works as expected.

[2017-06-22 21:23] Schalonsus commented on #437
Thanks for adding

[2017-06-22 21:23] #437 closed

[2017-06-22 21:35] Schalonsus commented on #434
Second test:
[code]
https://youtu.be/a-V_Q4d8Sog

FPV thermalling is awesome, here a video of my 140g MiniSolius:
https://youtu.be/azhiioGl65M

[2017-06-23 08:04] ShikOfTheRa commented on #438
Where is current connector connected?  To FC or to OSD direct.
And on GUI Amperage tab can you paste a screenshot in here?

[2017-06-23 08:37] retif commented on #438
![img_20170623_113505](https://user-images.githubusercontent.com/524468/27473575-4d4430c2-5808-11e7-828d-c161b85f3b78.jpg)

Current connector connected direct to osd

[2017-06-23 09:40] Schalonsus commented on #434
Would be cool if we can tune the sounds similar to the ones from the KK Vario, really like this style of tones.
https://www.youtube.com/watch?v=A7DH6d09TaA

[2017-06-23 10:24] ShikOfTheRa commented on #434
ah dont post videos - I really don't need another plane!! its not helping me to resist temptation.

For vario - well that's a pretty good start. Thanks for vid - helps a lot as usual. These are my thoughts:

So for HZ I have made an error there - it is half what expected so will correct that.

The change in frequency is audibly less than expected so think will add a scale in there to allow tweakin

[2017-06-23 12:05] ShikOfTheRa commented on #434
Ok - have made a test rig. Well earpice plugged directly onto rssi pin with 500 ohm resistor seems to work.

Have read up a little on varios and and i think we can get this much closer to a real one sound wise. I guess they have evolved over time and the frequency / tone gaps are there after lots of testig and feedback.
I'll work on this next week Going away today for a couple of days but like to

[2017-06-23 12:07] mawright89 opened #439 ""Sketch too big" Arduino with Arduino pro or pro mini"
I cant compile the sketch for any of the versions of MWOSD in arduino 1.8.2 with arduino pro or pro mini selected. I always get a failure that the sketch is too large.

Im trying to flash an onboard OSD on an emax Skyline32 OSD advanced which i believe needs the MinimOSD settings in MWOSD but i could be wrong so advice on that would be good too.

any help apreciated.

edit: the error code from ard

[2017-06-23 12:08] ShikOfTheRa commented on #438
Ill have to replicate and test this. Will be next week unfortunately as away until then.

[2017-06-23 12:43] Schalonsus commented on #434
Awesome, looking forward to test the improved version.
I have another plane where i could add a baro via i2c, so testing should be much easier than with the gui.

[2017-06-23 20:27] ShikOfTheRa commented on #439
You have wrong board selected. Not 168.   It's 328 which has double memory :)

[2017-06-23 22:14] OtterNas3 commented on #427
Hey Shik,

sorry for bothering you again, but, any Update on this?

-Otter-

[2017-06-24 11:33] mawright89 commented on #439
Haha omg what a bell end I am.. Thanks, appreciate the help. Can't believe I missed that.

[2017-06-24 21:51] mawright89 commented on #439
So now another issue... compiled correctly however.... tries to upload data however the light on the FDTI board blinks for around 5 mins then I get the error below. "an error occoured while uploading the sketch."

Arduino: 1.8.3 (Windows 10), Board: "Arduino Pro or Pro Mini, ATmega328 (5V, 16 MHz)"

Sketch uses 23332 bytes (75%) of program storage space. Maximum is 30720 bytes.
Global variables us

[2017-06-26 07:29] ShikOfTheRa commented on #439
Coulb many reaosns for thsi.
I'd start with
1 correct com ports selected
2 is cabling correct between FTDI and OSD (is tehre is any cable...) must be 6 pins and correct rx>tx
3 google!

[2017-06-26 07:37] ShikOfTheRa commented on #432
Had a look at code this morning and kiss does send mode control. There are two layouts associated with it.

So in brief, easiest way is to set all screen layouts to be the same.

Change all layouts to be same as per pic (if three show, change all three)
![image](https://user-images.githubusercontent.com/11336532/27528970-ab0443de-5a4a-11e7-9c3e-94fcd449598d.png)

[2017-06-26 07:39] ShikOfTheRa commented on #427
Its pretty close. Drop email to gary@flypix.co.uk as will need a test group soon

[2017-06-26 10:41] mawright89 commented on #439
ahh, right my FTDI cable only has 4 ports, 5V, GND TX and RX. What FTDI adapter would you recomend?

Many thanks for the help with this. I really appreciate it.

[2017-06-26 15:35] ShikOfTheRa commented on #434
OK

Uploaded something to test. Its a bit more like some of the ones on youtube - but there is a lot of variety out there!

Also something to think about...
Thermal assist... remembers location of best thermal in last minute and provides distance / direction to it...
I was dreaming last night and it came into my mind that you can't see thermals, but once in tehm coupld create a map. It would have

[2017-06-26 15:36] ShikOfTheRa commented on #439
Thanks for update

[2017-06-27 07:49] ShikOfTheRa commented on #434
I googled a bit more last night whilst looking at MS5611 and found kkvario. probably could have saved some time...

So on my version of the minimosd I broke out I2C pins (4  pins behind serial on pic below)
4 wires to a MS5611 and a bit of code and you have a proper vario!
Could pretty much take the KK code and add it in 30 mins...

Ordered and will let you know how it goes.

![image](https://user

[2017-06-27 08:20] Schalonsus commented on #434
KK Vario is the one i use successfully in all my big planes.
The idea was to use the present hardware (OSD + FC) to create a simple (just use GPS if no baro connected or not available on FC board) vario for small, very light weight planes.
On the most OSD there are no I2C broken out.

I could just take a Arduino Lilypad and a MS5611 and have a tiny vario, but that would be additional weight and sp

[2017-06-27 08:56] ShikOfTheRa commented on #434
GPS only should work. I recall adding in a function to create a GPS vario. If you can use 10hz GPS then should be not too bad. That said - I haven't tested it..

KK vario in code is easy. I am really just tempted to add it in as it is and credit Ralf for his great work. No point in re-inventing the wheel! I like doing that but have a bunch of other things to do first.

https://github.com/ShikOfThe

[2017-06-27 12:37] ShikOfTheRa commented on #438
I tried with inav and naze controller.
Seems to work OK for me.

Note – if disconnected, the amperage pin input will “float”.
As you are seeing a voltage with it disconnected that indicates that firmware is working.

Is it possible to connect a voltmeter to the OSD current sensor input so see if any voltage being registered? Should see it rise as apply throttle

[2017-06-27 12:37] #439 closed

[2017-06-27 12:38] ShikOfTheRa commented on #435
Any luck?

[2017-06-27 16:04] turborocket commented on #435
hello there! thx for the tip, i didnt tryed yet becouse im full of work in the last days!

i hope my son will sleep not too late tonight, so i can try it ;)

what are you suggesting me? i used the last 1.7 gui (payed), and what is the font uploader rom utilities in flasher?

[2017-06-27 20:39] monterosa123 opened #441 "Display of sonar sensor"
Display the altitude measured by the sonar sensor in addition to the GPS and baro altitude.

[2017-06-28 08:43] ShikOfTheRa commented on #441
Which FC?

[2017-06-28 18:30] monterosa123 commented on #441
SPRacingF3

[2017-06-28 20:08] ShikOfTheRa commented on #441
Sorry which firmware

[2017-06-28 21:04] Kinder0083 commented on #413
Hello

I have the same problem with my Pixhawk.
The pitch is inverted.

Do you have a solution ?

Thanks

Grèg

[2017-06-29 01:15] fantasiiio commented on #413
I have a solution that work very well.

modify file screen.ino
in function displayHorizon (line 443 in my version),
replace
[code]
by
[code]
then in config.h uncomment the line
`#define INVERT_PITCH`

That's it

[2017-06-29 04:03] Kinder0083 commented on #413
Hello

I will testing that this afternoon.

Thanks

Le 29 juin 2017 3:15 AM, "fantasiiio" <notifications@github.com> a écrit :

[2017-06-29 07:50] ShikOfTheRa commented on #413
Hello - I just submitted a couple of changes this morning which may help.
If I get more feedback about pixhawk being wrong direction I'll change in code. I'm surprised not raised before

//#define REVERSE_AHI_PITCH         // Reverse pitch / roll direction of AHI - for DJI / Eastern bloc OSD users
//#define REVERSE_AHI_ROLL          // Reverse pitch / roll direction of AHI - for DJI / Eastern bloc

[2017-06-29 19:45] monterosa123 commented on #441
I'm using iNAV.

[2017-06-29 21:35] ShikOfTheRa commented on #438
Mmm might be an issue. A different setup to yours but running current through FC was not displaying on OSD.

[2017-06-30 05:10] Kinder0083 commented on #413
Hello

Your solution works verry fine.
If you have any question about pixhawk with osd or other equipment, ask me.

Thanks

Grég

Le 29 juin 2017 9:50 AM, "ShikOfTheRa" <notifications@github.com> a écrit :

[2017-06-30 10:50] ShikOfTheRa commented on #413
Thanks for feedback. I might have a few questions.

It sounds like we need to change this. Ideally I'd like one more to report / confirm. I would have thought a few more would have raised something so visible.

Just to clarify, "correct" operation should be plane nose down AHI move up on screen / goggles.
I ask because for some they want opposite.. Mainly CRT fliers who want to know attitude of pl

[2017-06-30 15:30] Kinder0083 commented on #413
Hello

I'm a flight engineer on French plane and for me the good representation is
the center cross which represents the nose of the plane and the 6 points (
3 right of the center cross and 3 left of the center cross ). 6 points
represent the artificial horizon.

After changed your code in "screen.ino" the representation is good. When my
plane increase altitude with the nose up, the cross is upper

[2017-06-30 18:32] 4cellOstrich commented on #436
Unfortunately I do not.

[2017-07-04 10:48] ShikOfTheRa commented on #441
I have had a look - it is not in current standard commands so would need to add those in for exact sonar
I have added to the wishlist, but I don't have any time to implement this at present.

https://github.com/ShikOfTheRa/scarab-osd/wiki/Features-future-roadmap

I will close this as its logged in the request list. feeel free to ad any comments - they will still be read / viewed as get notificatio

[2017-07-04 10:48] #441 closed

[2017-07-04 10:51] ShikOfTheRa commented on #435
You can use fontloader rom - or the font uploader button in GUI. Hopefully it will work. There was a definite issue with GUI. It should have updated automatically in background now. Please try again with 1.7.1.5

![image](https://user-images.githubusercontent.com/11336532/27827416-1219999c-60af-11e7-8afe-2e838a68ddc8.png)

[2017-07-04 10:56] #432 closed

[2017-07-05 03:50] TronskiFPV opened #443 "Amps zero adjust unable to use negative numbers."
V1.7.1
Using negative numbers would be helpful for current sensors that start at 0V like the Attopilot series. Using positive numbers on these sensors results in 0A being shown while amps are actually being drawn. Because of this you can only use "amps adjust" and must make a compromise of accuracy on the low end for accuracy on the high end.
This video shows how to use both amps zero adjust and a

[2017-07-07 20:27] ShikOfTheRa commented on #443
Am away on cellphone only. I think in config.h there is an option for those that need a negative offset.

[2017-07-07 22:13] TronskiFPV commented on #443
I cant find anything config.h or in def.h for negative numbers. I have looked around and I cant seem to find where in the code these variables are applied to the calculation for current.  Enjoy your vacation!

[2017-07-08 19:36] oyvinla opened #444 "Add PIDs overlay"
I'm not sure if this has been asked before, but is it possible to add the abillity to turn on/off PID values to show on the screen while flying like you can in the Betaflight OSD? This would be helpful when tuning the quad in-flight with aux switches.

[2017-07-11 10:27] ShikOfTheRa commented on #434
@Schalonsus I have added MS5611 to OSD hardware and added kk code. It works!!
Optional extras:
Deadband
Disable audio tones on throttle
Enable / disable audio tones with screen layout switching.

If you want to try, I will send you one of theses FOC to help me in testing / improving. It has I2C broken out so you can add your own. I will do some documentation for it:
https://www.virtualpilot.co.uk/

[2017-07-11 10:53] ShikOfTheRa commented on #444
yes - this is currently in the request list:
https://github.com/ShikOfTheRa/scarab-osd/wiki/Features-future-roadmap

[2017-07-11 12:16] ShikOfTheRa commented on #443
ha you are correct. I was thinking of the old method.

The way MWOSD sensor code works is quite different to betaflight etc. I would like to re-visit at some point. Mainly to optimise memory though as bear in mind this is only old 8 bit OSD not always using floating point so can get some rounding errors.
From experience, current sensor accuracy seems poor at low current drawn

So I am guessing tha

[2017-07-11 12:23] ShikOfTheRa commented on #438
I have been away, but I can say I seem to replicate issue in plane.

[2017-07-11 12:36] ShikOfTheRa commented on #438
I hope to test and verify tonight.

[2017-07-11 12:37] ShikOfTheRa commented on #434
Send me pm on any of the forums.

[2017-07-11 18:04] ShikOfTheRa commented on #438
Fixed in main repository.
It occurs if only use FC amperage. If use FC volts or FC RSSI it works OK. I think from memory it was by design assumed if using FC amperage you would always use volts.

[2017-07-12 03:46] TronskiFPV commented on #443
Awesome! Is there a correlation to the numbers? Do these numbers define the low and high point of the scale from 0v-3.3v or do they act as capped values on the ends? Hopefully I can compile and test tomorrow 👍

[2017-07-12 10:37] ShikOfTheRa commented on #443
Notes –
almost always should set analog reference to 5v if using a current sensor. If it will output more than 1.1v it is mandatory.
Current sensors are not always inaccurate.
Meters for measuring are not always accurate. I have 2 tested last night with 1A difference at 15A
RC gear draws current as well as motor so should never see 0A. Mine draws 0.2-0.3A at idle

The code:
Maps the Arduino analog

[2017-07-12 10:57] jt6064 commented on #397
What was the fix for this?  I'm experiencing the same problem on a new Betaflight F3 board.  Stick commands are not working.  I've even tried the throttle in different positions.

[2017-07-12 11:50] jcutcher01 commented on #397
My issue was I forgot to set the throttle to mid plus Yaw left. I had throttle all the way down and I was yawning left.

[2017-07-12 12:44] jt6064 commented on #397
Ok, sir.  Thank you very much.  This may seem silly but did you have the copter armed?  I know that no throttle signal is sent when the copter is disarmed via a switch.  The switch only arms the quad if the throttle is in low position.  Are you raising the throttle to mid position and flipping the arming switch?

[2017-07-12 12:55] jcutcher01 commented on #397
Quad was disarmed. Mid throttle left Yaw pitch forward works for me.

[2017-07-12 12:57] jt6064 commented on #397
Thanks again.  One last question....any explanation ever given for why the stick command changed your PID profile?

[2017-07-12 14:00] jcutcher01 commented on #397
No. I did observe this on my Kombini FC so I wonder if BF monitors sticks when unarmed for switching profiles?

[2017-07-13 20:10] eephyne commented on #406
Hello, sorry to ask on a closed issue but did you add the fix in the last zip 1.7 ?
I have the exact same issue (standalone and UBLOX) and The version I use is the zip dowloaded on the website.
I do not mind using the git repo but wanted to check first if that was useful.

[2017-07-14 06:28] eephyne commented on #406
I did not test the osd but the upload of the font was succesful (ftdi keep blinking till the end and gui not disconnected.
Thanks @ShikOfTheRa for your time and great software

[2017-07-14 07:51] ShikOfTheRa commented on #406
Great! glad its working OK

[2017-07-14 17:17] TronskiFPV commented on #443
the new variables dont appear to be working. I even tried AMPCALLOW -100 just to see if I could get it to show some amps at idle, but it still shows 0 and seems to work as it always did.

I'm not shooting for extreme accuracy, just enough to use MAH consumed as a rough indicator of battery left for long distance flights. I could have other issues here, but with some more room for calibration I sho